
{% extends "basic.html" %}
{% load static %}

 
	{% block head %}
<!-- EXTRAS START -->
   <!-- Font Imports -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
 
   <!-- Core Style -->
   <link rel="stylesheet" href="{% static 'extras/style.css' %}">
 
   <!-- Font Icons -->
   <link rel="stylesheet" href="{% static 'extras/css/font-icons.css' %}">
 
   <!-- Plugins/Components CSS -->
   <link rel="stylesheet" href="{% static 'extras/css/swiper.css' %}">
 
   <!-- Niche Demos -->
   <link rel="stylesheet" href="{% static 'extras/demos/construction/construction.css' %}">
 
   <!-- Custom CSS -->
   <link rel="stylesheet" href="{% static 'extras/css/custom.css' %}">
   <!-- EXTRAS END -->


  <style>
    .swiper-slide-bg{
      background-image: url("{% static 'extras/demos/construction/images/hero.jpg' %}"); 
      background-position: center bottom;
    

    }
  </style>

{% endblock %}




{% block body %}

<section id="slider" class="slider-element slider-parallax swiper_wrapper min-vh-75" data-loop="true">

  <div class="swiper-container swiper-parent">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="container">
          <div class="slider-caption">
            <div>
              <h2>Welcome to HealthConnect</h2>
              <p class="d-none d-sm-block">Our platform provides a direct channel for
                patients to engage with healthcare professionals.
                Users can seek advice,  &amp;share concerns, and receive
                timely responses from doctors. </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide-bg" ></div>
      </div>
      
    </div>
    
  </div>

</section>
<!-- Content
============================================= -->
<section id="content">
  <div class="content-wrap">

    <div class="promo promo-light promo-full promo-uppercase p-5 mb-6 header-stick">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg">
            <h3 style="letter-spacing: 2px;">Start Interacting for your health with verified doctors</h3>
            <span>We have created a platform of inclusivity with health information at your fingertips</span>
          </div>
          <div class="col-12 col-lg-auto mt-4 mt-lg-0">
            <a href="#" class="button button-large button-circle button-black m-0">Start Now</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="row justify-content-center col-mb-50">
        <div class="col-sm-6 col-lg-4">
          <div class="feature-box media-box">
            <div class="fbox-media">
              <img class="rounded" src="{% static 'extras/demos/construction/images/doc1.jpg' %}" alt="Why choose Us?">
            </div>
            <div class="fbox-content px-0">
              <h3>Dr.Nell Atkinson(Cardiothoracic Surgeon)<span class="subtitle">Precision in Practice: Mastering Surgical Skills</span></h3>
              <p>Join us as we explore the world of skilled medical professionals in our latest blog. Discover the artistry behind surgical precision as doctors share their insights into the techniques and expertise that ensure your health is in good hands. From intricate procedures to delicate maneuvers, learn how these medical artisans excel in their craft, leaving no room for error.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-4">
          <div class="feature-box media-box">
            <div class="fbox-media">
              <img class="rounded" src="{% static 'extras/demos/construction/images/doc2.jpg' %}" alt="Effective Planning">
            </div>
            <div class="fbox-content px-0">
              <h3>Dr Michell Brown(Medical doctor)<span class="subtitle">Healing Harmonies: The Symphony of Effective Patient Care</span></h3>
              <p>Take a deep dive into the orchestration of effective patient care with our insightful blog. Medical doctors provide a behind-the-scenes look at how they organize and plan each aspect of patient treatment. From diagnosis to recovery, explore how meticulous planning and coordination contribute to a harmonious and successful healthcare journey.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-4">
          <div class="feature-box media-box">
            <div class="fbox-media">
              <img class="rounded" src="{% static 'extras/demos/construction/images/doc3.jpg' %}" alt="Why choose Us?">
            </div>
            <div class="fbox-content px-0">
              <h3>Dr. Angel Lizberg(Dentist)<span class="subtitle">Preserving Well-being: A Prescription for Effective Risk Management</span></h3>
              <p>In our latest blog, we address the crucial role of risk management in the field of medicine. Join medical doctors as they assure you that they've got you covered when it comes to your health. Explore the strategies and measures employed to manage and mitigate risks, ensuring a safe and secure healthcare experience for every patient.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
    
<div class="jumbotron">
    <h1 class="display-4">Welcome to HealthConnect</h1>
    <p class="lead">
      Our platform provides a direct channel for
      patients to engage with healthcare professionals.
      Users can seek advice, share concerns, and receive
      timely responses from doctors.
  
     {% if user.is_authenticated %}

     
     {% else %}

      <p class="lead">
      <button type="button" class="btn btn-primary btn-lg"  data-toggle="modal" data-target=".bd-example-modal-lg">Get started</button>
      </p>
    

</div>

<br><br><br>
<div class="container mt-5 mb-3" style="width:fit-content;">
      <center>
        <h1>Sign-In  As</h1>
        </center>
      
      
      <form>
          <div class="container mt-5 mb-5">
       <div class="row">
          <div class="col">
             <a href="{% url 'home' %}">
      <img  alt="admin" src="{% static 'homepage/admin.png' %}"  class="img">
      </a>
          </div>
      
          <div class="col">
      <a href="{% url 'sign_in_doctor' %}">
      <img  alt="doctor" src="{% static 'homepage/doctor.png' %}"  class="img">
      </a>
          </div>
      
          <div class="col">
      <a href="{% url 'sign_in_patient' %}">
      <img  alt="patient" src="{% static 'homepage/patient.png' %}"  class="img">
      </a>
          </div>
        </div>
        </div>
      </form>
</div>


    

    {% endif %}

<br><br>




<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
   
<center>
  <h1>Sign-In  As</h1>
  </center>
<br><br>

<center>
<form>
    <div class="container mt-5 mb-5">
 <div class="row">
    <div class="col">
       <a href="{% url 'sign_in_admin' %}">
<img  alt="admin" src="{% static 'homepage/admin.png' %}"  class="img">
</a>
    </div>

    <div class="col">
<a href="{% url 'sign_in_doctor' %}">
<img  alt="doctor" src="{% static 'homepage/doctor.png' %}"  class="img">
</a>
    </div>

    <div class="col">
<a href="{% url 'sign_in_patient' %}">
<img  alt="patient" src="{% static 'homepage/patient.png' %}"  class="img">
</a>
    </div>
  </div>
  </div>
</form>
</center>

    </div>
  </div>
</div>







<!-- Large modal -->

<div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
   
<center>
  <h1>Sign-Up  As</h1>
  </center>
<br><br>

<center>
<form>
    <div class="container mt-5 mb-5 ml-5 mr-5">
 <div class="row">

    <div class="col">
<a href="{% url 'signup_doctor' %}">
<img  alt="doctor" src="{% static 'homepage/doctor.png' %}"  class="img">
</a>
    </div>

    <div class="col">
<a href="{% url 'signup_patient' %}">
<img  alt="patient" src="{% static 'homepage/patient.png' %}"  class="img">
</a>
    </div>
  </div>
  </div>
</form>
</center>

    </div>
  </div>
</div>





<br><br><br><br>
<center><h2>Our Doctors</h2></center>
<div class="row mt-5 mb-5">
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">Dr. MANISH BANSAL </h5>
                <img  alt="admin" src="{% static 'homepage/c31.jpg' %}" width="200" height="150" class="rounded">
                <p class="card-text">H.No-1283, Ward No-14, New Anaz Mandi Road, P.O-Radaur, Distt. Yamuna Nagar - 135133, (Haryana).</p>
                
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">Dr. BANSAL JATINDER PAUL </h5>
                <img  alt="admin" src="{% static 'homepage/c41.jpg' %}" width="200" height="150" class="rounded">
                <p class="card-text">Om Niwas Khai Basti, Khai Road, Lehragaga-148031, Distt. Sangrur, Punjab.</p>
                
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">DR. RADHIKA SWAROOP</h5>
                <img  alt="admin" src="{% static 'homepage/s72.jpg' %}" width="200" height="150" class="rounded">
                <p class="card-text">Swaroop Hospital, 1, Hawa Sarak, Civil Lines, # Jaipur-302 019.</p>
                
            </div>
        </div>
    </div>
</div>
  

<br><br><br><br>

        












    <div id="footer" class="card bg-dark text-white">
      <div class="card-body">
        Contact-
     
    <ul >
     
      <li >
        <h5 class="mb-1">Email: anujpradhan208@gmail.com</h5>
      </li>
      <li >
        <h5 class="mb-1">Contact no. 9078166555</h5>
      </li>
      <li >
        <h5 class="mb-1">Address: CET, bbsr</h5>
        <div class="footer-copyright text-center">© 2020 Copyright:
          <a href="#"> Predico.com</a>
        </div>
      </li>
      
    </ul>
  </div>
  </div>

  
 





</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     <!-- Go To Top (EXTRAS)
    ============================================= -->
    <div id="gotoTop" class="uil uil-angle-up"></div>

    <!-- JavaScripts
    ============================================= -->
    <script src="{% static 'extras/js/functions.js' %}"></script>
    




    
{% endblock %}
