{% load static %}

<!DOCTYPE html>
<html lang="en">
    {% if not request.session.user_id or not request.session.is_authenticated %}
        <script type="text/javascript">
            window.location.href = "{% url 'login' %}";
        </script>
    {% endif %}
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>News</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <!-- Favicons -->
        <link href="{% static 'img/logo.png' %}" rel="icon">
        <link href="{% static 'img/logo.png' %}" rel="apple-touch-icon">
        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <!-- Vendor CSS Files -->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/animate.css/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
        <!-- Template Main CSS File -->
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <link href="{% static 'css/page-styles.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/admin-news.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="topbar" class="d-flex align-items-center fixed-top">
            <div class="container d-flex justify-content-between">
                <div class="contact-info d-flex align-items-center">
                    <i class="bi bi-envelope"></i>
                    <a href="mailto:healthconnect@nemisa.com">healthconnect@nemisa.com</a>
                    <i class="bi bi-phone"></i> +27 11 111 1111
                </div>
                <nav class="header-nav ms-auto">
                    <ul class="d-flex align-items-center">
                        <!-- Notification Nav -->
                        <li class="nav-item dropdown">
                            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                                <i class="bi bi-bell"></i>
                                <span class="badge bg-primary badge-number">4</span>
                            </a>
                            <!-- Notification Dropdown Items -->
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                                <li class="dropdown-header"> You have 4 new notifications <a href="#">
                                        <span class="badge rounded-pill bg-primary p-2 ms-2">View all</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <!-- Notification about a post reply -->
                                <li class="notification-item">
                                    <i class="bi bi-reply text-info"></i>
                                    <div>
                                        <h4>Post Reply</h4>
                                        <p>Someone replied to your post on health tips</p>
                                        <p>30 min. ago</p>
                                    </div>
                                </li>
                                <!-- End Notification about a post reply -->

                                <!-- Notification about an open consultation -->
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="notification-item">
                                    <i class="bi bi-calendar-plus text-success"></i>
                                    <div>
                                        <h4>New Consultation</h4>
                                        <p>A new consultation is open for scheduling</p>
                                        <p>1 hr. ago</p>
                                    </div>
                                </li>
                                <!-- End Notification about an open consultation -->

                                <!-- Notification about a closed consultation -->
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="notification-item">
                                    <i class="bi bi-calendar-check text-danger"></i>
                                    <div>
                                        <h4>Closed Consultation</h4>
                                        <p>Your recent consultation has been closed</p>
                                        <p>2 hrs. ago</p>
                                    </div>
                                </li>
                                <!-- End Notification about a closed consultation -->

                                <!-- Notification about a post reply -->
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="notification-item">
                                    <i class="bi bi-reply text-info"></i>
                                    <div>
                                        <h4>Post Reply</h4>
                                        <p>Someone replied to your post on healthy recipes</p>
                                        <p>4 hrs. ago</p>
                                    </div>
                                </li>
                                <!-- End Notification about a post reply -->

                                <!-- Show all notifications link -->
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="dropdown-footer">
                                    <a href="#">Show all notifications</a>
                                </li>
                            </ul>
                            <!-- End Notification Dropdown Items -->
                        </li>
                        <!-- End Notification Nav -->

                        <!-- Messages Icon -->
                        <li class="nav-item dropdown">
                            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                                <i class="bi bi-chat-left-text"></i>
                                <span class="badge bg-success badge-number">3</span>
                            </a>
                            <!-- Messages Dropdown Items -->
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                                <li class="dropdown-header"> You have 3 new messages <a href="#">
                                        <span class="badge rounded-pill bg-primary p-2 ms-2">View all</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <!-- Message about feedback on a consultation -->
                                <li class="message-item">
                                    <a href="#">
                                        <img src="{% static 'img/messages-1.jpg' %}" alt="Image Loading.." class="rounded-circle">
                                        <div>
                                            <h4>Maria Hudson</h4>
                                            <p>Provided feedback on your recent consultation</p>
                                            <p>4 hrs. ago</p>
                                        </div>
                                    </a>
                                </li>
                                <!-- End Message about feedback on a consultation -->

                                <!-- Message about feedback on a consultation -->
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="message-item">
                                    <a href="#">
                                        <img src="{% static 'img/messages-2.jpg' %}" alt="Image Loading.." class="rounded-circle">
                                        <div>
                                            <h4>Anna Nelson</h4>
                                            <p>Asked for clarification on your recent consultation</p>
                                            <p>6 hrs. ago</p>
                                        </div>
                                    </a>
                                </li>
                                <!-- End Message about feedback on a consultation -->

                                <!-- Message about feedback on a consultation -->
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="message-item">
                                    <a href="#">
                                        <img src="{% static 'img/messages-3.jpg' %}" alt="Image Loading.." class="rounded-circle">
                                        <div>
                                            <h4>David Muldon</h4>
                                            <p>Thanked you for your advice in the last consultation</p>
                                            <p>8 hrs. ago</p>
                                        </div>
                                    </a>
                                </li>
                                <!-- End Message about feedback on a consultation -->

                                <!-- Show all messages link -->
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="dropdown-footer">
                                    <a href="#">Show all messages</a>
                                </li>
                            </ul>
                            <!-- End Messages Dropdown Items -->
                        </li>
                        <!-- End Messages Nav -->
                        <li class="nav-item dropdown pe-3">
                            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                                {% if request.session.is_doctor %}
                                    <img src="{% static 'img/doctors/doctors-3.jpg' %}" alt="Profile" class="rounded-circle">
                                {% elif request.session.is_patient %}
                                    <img src="{% static 'img/testimonials/testimonials-4.jpg' %}" alt="Profile" class="rounded-circle">
                                {% else %}
                                    <img src="{% static 'img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
                                {% endif %}
                                <span class="d-none d-md-block dropdown-toggle ps-2">{{ request.session.name }}</span>
                            </a>
                            <!-- End Profile Iamge Icon -->
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                                <li class="dropdown-header">
                                    <h6>{{ request.session.name }}</h6>
                                    {% if request.session.is_doctor %}
                                        <span>HealthConnect Doctor</span>
                                    {% elif request.session.is_patient %}
                                        <span>HealthConnect Patient</span>
                                    {% else %}
                                        <span>HealthConnect Admin</span>
                                    {% endif %}
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <i class="bi bi-person"></i>
                                        <span>My Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <i class="bi bi-gear"></i>
                                        <span>Account Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" href="{% url 'help' %}">
                                        <i class="bi bi-question-circle"></i>
                                        <span>Need Help?</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                                        <i class="bi bi-box-arrow-right"></i>
                                        <span>Sign Out</span>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Profile Dropdown Items -->
                        </li>
                        <!-- End Profile Nav -->
                    </ul>
                </nav>
            </div>
        </div>
        <header id="header" class="header fixed-top bg-white">
            <div class="container d-flex align-items-center">
                <h1 class="logo me-auto">
                    <a href="#" class="logo me-auto">
                        <img src="{% static 'img/logo.png' %}" alt="" class="img-fluid">
                    </a>HealthConnect
                </h1>
                <nav id="navbar" class="navbar order-last order-lg-0">
                    <ul>
                        <li>
                            <a class="nav-link scrollto" href="{% url 'diseaseinfos' %}">Diseases</a>
                        </li>
                        <li>
                            <a class="nav-link scrollto active" href="#">News</a>
                        </li>
                        <li>
                            <a class="nav-link scrollto" href="{% url 'dashboard' %}">Dashboard</a>
                        </li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav>
                <a href="{% url 'logout' %}" class="appointment-btn scrollto">Logout</a>
            </div>
        </header>
        <main id="main" class="main">
            <section id="recent-blog-posts" class="section recent-blog-posts">
                <div class="container">
                    <div class="section-title">
                        <h2>Health Articles</h2>
                        <p>Trending Health Articles around the Globe</p>
                    </div>
                </div>

                {% if articles %}
                    <div class="container" data-aos="fade-up">        
                        <div class="row">
                            {% for article_data in articles %}
                                <div class="news_data col-lg-4 mt-3 mb-5" data-aos="fade-up" data-aos-delay="200">
                                    <div class="post-box">
                                        <div class="post-img">
                                            <img src="{{ article_data.urlToImage }}" class="img-fluid" alt="Article Image">
                                        </div>
                                        <div class="meta">
                                            <span class="post-date">{{ article_data.publishedAt }}</span>
                                            <span class="post-author"> / {{ article_data.author }}</span>
                                        </div>
                                        <h3 class="post-title">{{ article_data.title }}</h3>
                                        <p>{{ article_data.description }}.</p>
                                        <a href="{{ article_data.url }}" class="readmore stretched-link"  target="_blank">
                                            <span>View from Source</span>
                                            <i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="container" data-aos="fade-up">
                        <div class="row">
                            <div class="news_data col-lg-4 mt-3 mb-5" data-aos="fade-up" data-aos-delay="200">
                                <div class="post-box">
                                    <div class="post-img">
                                        <img src="{% static 'img/blog/blog-1.jpg' %}" class="img-fluid" alt="">
                                    </div>
                                    <div class="meta">
                                        <span class="post-date">Tue, December 12</span>
                                        <span class="post-author"> / Julia Parker</span>
                                    </div>
                                    <h3 class="post-title">Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur sit</h3>
                                    <p>Illum voluptas ab enim placeat. Adipisci enim velit nulla. Vel omnis laudantium. Asperiores eum ipsa est officiis. Modi cupiditate exercitationem qui magni est...</p>
                                    <a href="#" class="readmore stretched-link">
                                        <span>View from Source</span>
                                        <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="news_data col-lg-4 mt-3 mb-5" data-aos="fade-up" data-aos-delay="400">
                                <div class="post-box">
                                    <div class="post-img">
                                        <img src="{% static 'img/blog/blog-1.jpg' %}" class="img-fluid" alt="">
                                    </div>
                                    <div class="meta">
                                        <span class="post-date">Fri, September 05</span>
                                        <span class="post-author"> / Mario Douglas</span>
                                    </div>
                                    <h3 class="post-title">Et repellendus molestiae qui est sed omnis voluptates magnam</h3>
                                    <p>Voluptatem nesciunt omnis libero autem tempora enim ut ipsam id. Odit quia ab eum assumenda. Quisquam omnis aliquid necessitatibus tempora consectetur doloribus...</p>
                                    <a href="#" class="readmore stretched-link">
                                        <span>View from Source</span>
                                        <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="news_data col-lg-4 mt-3 mb-5" data-aos="fade-up" data-aos-delay="600">
                                <div class="post-box">
                                    <div class="post-img">
                                        <img src="{% static 'img/blog/blog-1.jpg' %}" class="img-fluid" alt="">
                                    </div>
                                    <div class="meta">
                                        <span class="post-date">Tue, July 27</span>
                                        <span class="post-author"> / Lisa Hunter</span>
                                    </div>
                                    <h3 class="post-title">Quia assumenda est et veritatis aut quae</h3>
                                    <p>Quia nam eaque omnis explicabo similique eum quaerat similique laboriosam. Quis omnis repellat sed quae consectetur magnam veritatis dicta nihil...</p>
                                    <a href="#" class="readmore stretched-link">
                                        <span>View from Source</span>
                                        <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="news_data col-lg-4 mt-3 mb-5" data-aos="fade-up" data-aos-delay="200">
                                <div class="post-box">
                                    <div class="post-img">
                                        <img src="{% static 'img/blog/blog-1.jpg' %}" class="img-fluid" alt="">
                                    </div>
                                    <div class="meta">
                                        <span class="post-date">Tue, December 12</span>
                                        <span class="post-author"> / Julia Parker</span>
                                    </div>
                                    <h3 class="post-title">Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur sit</h3>
                                    <p>Illum voluptas ab enim placeat. Adipisci enim velit nulla. Vel omnis laudantium. Asperiores eum ipsa est officiis. Modi cupiditate exercitationem qui magni est...</p>
                                    <a href="#" class="readmore stretched-link">
                                        <span>View from Source</span>
                                        <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="news_data col-lg-4 mt-3 mb-5" data-aos="fade-up" data-aos-delay="400">
                                <div class="post-box">
                                    <div class="post-img">
                                        <img src="{% static 'img/blog/blog-1.jpg' %}" class="img-fluid" alt="">
                                    </div>
                                    <div class="meta">
                                        <span class="post-date">Fri, September 05</span>
                                        <span class="post-author"> / Mario Douglas</span>
                                    </div>
                                    <h3 class="post-title">Et repellendus molestiae qui est sed omnis voluptates magnam</h3>
                                    <p>Voluptatem nesciunt omnis libero autem tempora enim ut ipsam id. Odit quia ab eum assumenda. Quisquam omnis aliquid necessitatibus tempora consectetur doloribus...</p>
                                    <a href="#" class="readmore stretched-link">
                                        <span>View from Source</span>
                                        <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="news_data col-lg-4 mt-3 mb-5" data-aos="fade-up" data-aos-delay="600">
                                <div class="post-box">
                                    <div class="post-img">
                                        <img src="{% static 'img/blog/blog-1.jpg' %}" class="img-fluid" alt="">
                                    </div>
                                    <div class="meta">
                                        <span class="post-date">Tue, July 27</span>
                                        <span class="post-author"> / Lisa Hunter</span>
                                    </div>
                                    <h3 class="post-title">Quia assumenda est et veritatis aut quae</h3>
                                    <p>Quia nam eaque omnis explicabo similique eum quaerat similique laboriosam. Quis omnis repellat sed quae consectetur magnam veritatis dicta nihil...</p>
                                    <a href="#" class="readmore stretched-link">
                                        <span>View from Source</span>
                                        <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="news_data col-lg-4 mt-3 mb-5" data-aos="fade-up" data-aos-delay="200">
                                <div class="post-box">
                                    <div class="post-img">
                                        <img src="{% static 'img/blog/blog-1.jpg' %}" class="img-fluid" alt="">
                                    </div>
                                    <div class="meta">
                                        <span class="post-date">Tue, December 12</span>
                                        <span class="post-author"> / Julia Parker</span>
                                    </div>
                                    <h3 class="post-title">Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur sit</h3>
                                    <p>Illum voluptas ab enim placeat. Adipisci enim velit nulla. Vel omnis laudantium. Asperiores eum ipsa est officiis. Modi cupiditate exercitationem qui magni est...</p>
                                    <a href="#" class="readmore stretched-link">
                                        <span>View from Source</span>
                                        <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="news_data col-lg-4 mt-3 mb-5" data-aos="fade-up" data-aos-delay="400">
                                <div class="post-box">
                                    <div class="post-img">
                                        <img src="{% static 'img/blog/blog-1.jpg' %}" class="img-fluid" alt="">
                                    </div>
                                    <div class="meta">
                                        <span class="post-date">Fri, September 05</span>
                                        <span class="post-author"> / Mario Douglas</span>
                                    </div>
                                    <h3 class="post-title">Et repellendus molestiae qui est sed omnis voluptates magnam</h3>
                                    <p>Voluptatem nesciunt omnis libero autem tempora enim ut ipsam id. Odit quia ab eum assumenda. Quisquam omnis aliquid necessitatibus tempora consectetur doloribus...</p>
                                    <a href="#" class="readmore stretched-link">
                                        <span>View from Source</span>
                                        <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="news_data col-lg-4 mt-3 mb-5" data-aos="fade-up" data-aos-delay="600">
                                <div class="post-box">
                                    <div class="post-img">
                                        <img src="{% static 'img/blog/blog-1.jpg' %}" class="img-fluid" alt="">
                                    </div>
                                    <div class="meta">
                                        <span class="post-date">Tue, July 27</span>
                                        <span class="post-author"> / Lisa Hunter</span>
                                    </div>
                                    <h3 class="post-title">Quia assumenda est et veritatis aut quae</h3>
                                    <p>Quia nam eaque omnis explicabo similique eum quaerat similique laboriosam. Quis omnis repellat sed quae consectetur magnam veritatis dicta nihil...</p>
                                    <a href="#" class="readmore stretched-link">
                                        <span>View from Source</span>
                                        <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
          
            </section>
        </main>
        <!-- End #main -->
        <!-- ======= Footer ======= -->
        <footer id="footer" class="footer">
            <div class="copyright"> &copy; Copyright <strong>
                    <span>HealthConnect</span>
                </strong>. All Rights Reserved </div>
        </footer>
        <!-- Vendor JS Files -->
        <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'vendor/chart.js/chart.umd.js' %}"></script>
        <script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
        <script src="{% static 'vendor/quill/quill.min.js' %}"></script>
        <script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
        <script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
        <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
        <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
        <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
        <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
        <!-- Template Main JS File -->
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/table-data.js' %}"></script>
    </body>
</html>
