{% extends 'base.html' %}
{% load static %}

{% block redirect_script %}
    {% if not request.session.user_id or not request.session.is_authenticated %}
        <script type="text/javascript">
            window.location.href = "{% url 'login' %}";
        </script>
    {% endif %}
    {% endblock %}
    {% block title %}Dashboard{% endblock %}
    {% block content %}
    <main id="main" class="main">
        <section class="section dashboard">
            <div class="container">
                <div class="section-title">
                    <h2>Admin Dashboard</h2>
                </div>
            </div>
            <div class="row">
                <!-- Left side columns -->
                <div class="col-lg-8">
                    <div class="row">
                        <!-- Sales Card -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card sales-card">
                                <div class="filter">
                                    <a class="icon" href="#" data-bs-toggle="dropdown">
                                        <i class="bi bi-three-dots"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        <li class="dropdown-header text-start">
                                            <h6>Filter</h6>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'dashboard' %}">Today</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'dashboard' %}">This Month</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'dashboard' %}">This Year</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Posts <span>| Today</span>
                                    </h5>
                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-heart"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{ cards.0.value }}</h6>
                                            <span class="text-success small pt-1 fw-bold">{{ cards.0.percentage }}%</span>
                                            <span class="text-muted small pt-2 ps-1">increase</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Sales Card -->
                        <!-- Revenue Card -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card">
                                <div class="filter">
                                    <a class="icon" href="#" data-bs-toggle="dropdown">
                                        <i class="bi bi-three-dots"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        <li class="dropdown-header text-start">
                                            <h6>Filter</h6>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'dashboard' %}">Today</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'dashboard' %}">This Month</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'dashboard' %}">This Year</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Revenue <span>| This Month</span>
                                    </h5>
                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-currency-dollar"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{ cards.1.value }}</h6>
                                            <span class="text-success small pt-1 fw-bold">{{ cards.1.percentage }}%</span>
                                            <span class="text-muted small pt-2 ps-1">increase</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Revenue Card -->
                        <!-- Customers Card -->
                        <div class="col-xxl-4 col-xl-12">
                            <div class="card info-card customers-card">
                                <div class="filter">
                                    <a class="icon" href="#" data-bs-toggle="dropdown">
                                        <i class="bi bi-three-dots"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        <li class="dropdown-header text-start">
                                            <h6>Filter</h6>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'dashboard' %}">Today</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'dashboard' %}">This Month</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'dashboard' %}">This Year</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Users <span>| This Year</span>
                                    </h5>
                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-people"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{ cards.2.value }}</h6>
                                            <span class="text-success small pt-1 fw-bold">{{ cards.2.percentage }}%</span>
                                            <span class="text-muted small pt-2 ps-1">decrease</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Customers Card -->
                        <!-- Reports -->
                        <div class="col-12">
                            <div class="card">
                                <div class="filter">
                                    <a class="icon" href="#" data-bs-toggle="dropdown">
                                        <i class="bi bi-three-dots"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        <li class="dropdown-header text-start">
                                            <h6>Filter</h6>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'dashboard' %}">Today</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'dashboard' %}">This Month</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'dashboard' %}">This Year</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Reports <span>/Today</span>
                                    </h5>
                                    <!-- Line Chart -->
                                    <div id="reportsChart"></div>
                                    <script>
                                        document.addEventListener("DOMContentLoaded", () => {
                                            new ApexCharts(document.querySelector("#reportsChart"), {
                                                series: [{
                                                    name: 'Posts',
                                                    data: [
                                                        45 + (Math.floor(Math.random() * 51) - 25),
                                                        40 + (Math.floor(Math.random() * 51) - 25),
                                                        38 + (Math.floor(Math.random() * 51) - 25),
                                                        31 + (Math.floor(Math.random() * 51) - 25),
                                                        42 + (Math.floor(Math.random() * 51) - 25),
                                                        42 + (Math.floor(Math.random() * 51) - 25),
                                                        36 + (Math.floor(Math.random() * 51) - 25),
                                                    ],
                                                }, {
                                                    name: 'Revenue',
                                                    data: [
                                                        31 + (Math.floor(Math.random() * 51) - 25),
                                                        32 + (Math.floor(Math.random() * 51) - 25),
                                                        45 + (Math.floor(Math.random() * 51) - 25),
                                                        32 + (Math.floor(Math.random() * 51) - 25),
                                                        34 + (Math.floor(Math.random() * 51) - 25),
                                                        32 + (Math.floor(Math.random() * 51) - 25),
                                                        41 + (Math.floor(Math.random() * 51) - 25),
                                                    ]
                                                }, {
                                                    name: 'Users',
                                                    data: [
                                                        41 + (Math.floor(Math.random() * 11) - 5),
                                                        51 + (Math.floor(Math.random() * 11) - 5),
                                                        62 + (Math.floor(Math.random() * 11) - 5),
                                                        58 + (Math.floor(Math.random() * 11) - 5),
                                                        51 + (Math.floor(Math.random() * 11) - 5),
                                                        54 + (Math.floor(Math.random() * 11) - 5),
                                                        61 + (Math.floor(Math.random() * 11) - 5),
                                                    ]
                                                }],
                                                chart: {
                                                    height: 350,
                                                    type: 'area',
                                                    toolbar: {
                                                        show: false
                                                    },
                                                },
                                                markers: {
                                                    size: 4
                                                },
                                                colors: ['#4154f1', '#2eca6a', '#ff771d'],
                                                fill: {
                                                    type: "gradient",
                                                    gradient: {
                                                        shadeIntensity: 1,
                                                        opacityFrom: 0.3,
                                                        opacityTo: 0.4,
                                                        stops: [0, 90, 100]
                                                    }
                                                },
                                                dataLabels: {
                                                    enabled: false
                                                },
                                                stroke: {
                                                    curve: 'smooth',
                                                    width: 2
                                                },
                                                xaxis: {
                                                    type: 'datetime',
                                                    categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                                                },
                                                tooltip: {
                                                    x: {
                                                        format: 'dd/MM/yy HH:mm'
                                                    },
                                                }
                                            }).render();
                                        });
                                    </script>
                                    <!-- End Line Chart -->
                                </div>
                            </div>
                        </div>
                        <!-- End Reports -->
                        <!-- Recent Sales -->
                        <div class="col-12">
                            <div class="card recent-sales overflow-auto">
                                <div class="filter">
                                    <a class="icon" href="#" data-bs-toggle="dropdown">
                                        <i class="bi bi-three-dots"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        <li class="dropdown-header text-start">
                                            <h6>Filter</h6>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'dashboard' %}">Today</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'dashboard' %}">This Month</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'dashboard' %}">This Year</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Recent Consultation <span>| Today</span>
                                    </h5>
                                    <table class="table table-borderless datatable">
                                        <caption>Consultations</caption>
                                        <thead>
                                            <tr>
                                                <th scope="col">Consultation ID</th>
                                                <th scope="col">Patient</th>
                                                <th scope="col">Disease Name</th>
                                                <th scope="col">Consultation Cost Price</th>
                                                <th scope="col">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for consultation in recent_consultations %}
                                                <tr>
                                                    <th scope="row">
                                                        <a href="#">{{ consultation.consultationId }}</a>
                                                    </th>
                                                    <td>{{ consultation.patient }}</td>
                                                    <td>
                                                        <a href="#" class="text-primary">{{ consultation.diseaseName }}</a>
                                                    </td>
                                                    <td>{{ consultation.consultationCostPrice }}</td>
                                                    <td>
                                                        <span class="badge bg-{{ consultation.badge }}">{{ consultation.status }}</span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- End Recent Sales -->
                        <!-- Top Selling -->
                        <div class="col-12">
                            <div class="card top-selling overflow-auto">
                                <div class="filter">
                                    <a class="icon" href="#" data-bs-toggle="dropdown">
                                        <i class="bi bi-three-dots"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        <li class="dropdown-header text-start">
                                            <h6>Filter</h6>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'dashboard' %}">Today</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'dashboard' %}">This Month</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'dashboard' %}">This Year</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body pb-0">
                                    <h5 class="card-title">Top Selling Medication <span>| Today</span>
                                    </h5>
                                    <table class="table table-borderless">
                                        <caption>Medication Sales</caption>
                                        <thead>
                                            <tr>
                                                <th scope="col">Preview</th>
                                                <th scope="col">Product</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Sold</th>
                                                <th scope="col">Revenue</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for top_seller in top_selling_medication %}
                                                <tr>
                                                    <th scope="row">
                                                        <a href="#">
                                                            <img src="{{ top_seller.preview }}" alt="">
                                                        </a>
                                                    </th>
                                                    <td>
                                                        <a href="{{ top_seller.product.link }}" class="{{ top_seller.product.class }}">{{ top_seller.product.name }}</a>
                                                    </td>
                                                    <td>{{ top_seller.price }}</td>
                                                    <td class="fw-bold">{{ top_seller.sold }}</td>
                                                    <td>{{ top_seller.revenue }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- End Top Selling -->
                    </div>
                </div>
                <!-- End Left side columns -->
                <!-- Right side columns -->
                <div class="col-lg-4">
                    <!-- Recent Activity -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Recent Activity <span>| Today</span></h5>
                            <div class="activity">
                                {% for activity in recent_activity %}
                                    <div class="activity-item d-flex">
                                        <div class="activite-label">{{ activity.time }}</div>
                                        <i class='bi bi-circle-fill activity-badge {{ activity.badge }} align-self-start'></i>
                                        <div class="activity-content"> {{ activity.text_b }} <a href="{{ activity.link }}" class="fw-bold text-dark"> {{ activity.type_verb }} </a> {{ activity.text_a }} </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- End Recent Activity -->
                    <!-- Budget Report -->
                    <div class="card">
                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown">
                                <i class="bi bi-three-dots"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'dashboard' %}">Today</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'dashboard' %}">This Month</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'dashboard' %}">This Year</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body pb-0">
                            <h5 class="card-title">Budget Report <span>| This Month</span>
                            </h5>
                            <div id="budgetChart" style="min-height: 400px;" class="echart"></div>
                            <script>
                                document.addEventListener("DOMContentLoaded", () => {
                                    var budgetChart = echarts.init(document.querySelector("#budgetChart")).setOption({
                                        legend: {
                                            data: ['Allocated Budget', 'Actual Spending']
                                        },
                                        radar: {
                                            indicator: [
                                                { name: 'Sales', max: 6500 + (Math.floor(Math.random() * 801) - 400) },
                                                { name: 'Administration', max: 16000 + (Math.floor(Math.random() * 8001) - 4000) },
                                                { name: 'Information Technology', max: 30000 + (Math.floor(Math.random() * 8001) - 4000) },
                                                { name: 'Customer Support', max: 38000 + (Math.floor(Math.random() * 8001) - 4000) },
                                                { name: 'Development', max: 52000 + (Math.floor(Math.random() * 8001) - 4000) },
                                                { name: 'Marketing', max: 25000 + (Math.floor(Math.random() * 8001) - 4000) }
                                            ]
                                        },
                                        series: [{
                                            name: 'Budget vs spending',
                                            type: 'radar',
                                            data: [{
                                                value: [
                                                    4200 + (Math.floor(Math.random() * 1601) - 800),
                                                    3000 + (Math.floor(Math.random() * 1601) - 800),
                                                    20000 + (Math.floor(Math.random() * 1601) - 800),
                                                    35000 + (Math.floor(Math.random() * 1601) - 800),
                                                    50000 + (Math.floor(Math.random() * 1601) - 800),
                                                    18000 + (Math.floor(Math.random() * 1601) - 800),
                                                ],
                                                name: 'Allocated Budget'
                                            }, {
                                                value: [5000 + (Math.floor(Math.random() * 1601) - 800),
                                                    14000 + (Math.floor(Math.random() * 1601) - 800),
                                                    28000 + (Math.floor(Math.random() * 1601) - 800),
                                                    26000 + (Math.floor(Math.random() * 1601) - 800),
                                                    42000 + (Math.floor(Math.random() * 1601) - 800),
                                                    21000 + (Math.floor(Math.random() * 1601) - 800),
                                                ],
                                                name: 'Actual Spending'
                                            }]
                                        }]
                                    });
                                });
                            </script>
                        </div>
                    </div>
                    <!-- End Budget Report -->
                    <!-- Website Traffic -->
                    <div class="card">
                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown">
                                <i class="bi bi-three-dots"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'dashboard' %}">Today</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'dashboard' %}">This Month</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'dashboard' %}">This Year</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body pb-0">
                            <h5 class="card-title">Website Traffic <span>| Today</span>
                            </h5>
                            <div id="trafficChart" style="min-height: 400px;" class="echart"></div>
                            <script>
                                document.addEventListener("DOMContentLoaded", () => {
                                    echarts.init(document.querySelector("#trafficChart")).setOption({
                                        tooltip: {
                                            trigger: 'item'
                                        },
                                        legend: {
                                            top: '5%',
                                            left: 'center'
                                        },
                                        series: [{
                                            name: 'Access From',
                                            type: 'pie',
                                            radius: ['40%', '70%'],
                                            avoidLabelOverlap: false,
                                            label: {
                                                show: false,
                                                position: 'center'
                                            },
                                            emphasis: {
                                                label: {
                                                    show: true,
                                                    fontSize: '18',
                                                    fontWeight: 'bold'
                                                }
                                            },
                                            labelLine: {
                                                show: false
                                            },
                                            data: [{
                                                value: 1048 + (Math.floor(Math.random() * 601) - 300),
                                                name: 'Check Disease'
                                            }, {
                                                value: 1035 + (Math.floor(Math.random() * 601) - 300),
                                                name: 'Posts'
                                            }, {
                                                value: 580 + (Math.floor(Math.random() * 601) - 300),
                                                name: 'Consultations'
                                            }, {
                                                value: 484 + (Math.floor(Math.random() * 601) - 300),
                                                name: 'Schedule'
                                            }, {
                                                value: 400 + (Math.floor(Math.random() * 601) - 300),
                                                name: 'Replies'
                                            }]
                                        }]
                                    });
                                });
                            </script>
                        </div>
                    </div>
                    <!-- End Website Traffic -->
                    <!-- News & Updates Traffic -->
                    <div class="card">
                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown">
                                <i class="bi bi-three-dots"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'dashboard' %}">Today</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'dashboard' %}">This Month</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'dashboard' %}">This Year</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}