{% extends 'base.html' %}
{% load static %}
{% block blogs_active %} active  {% endblock %}
{% block redirect_script %}
{% if not request.session.user_id or not request.session.is_authenticated %}
<script type="text/javascript">
    window.location.href = "{% url 'login' %}";
</script>
{% endif %}
{% endblock %}
{% block title %}Health Posts{% endblock %}
{% block content %}
<main id="main" class="main">
    <section id="blog" class="blog">
        <div class="section-title">
            <h2>Health Posts</h2>
        </div>
        <div class="container" data-aos="fade-up">
            <div class="row g-5">
                <div class="col-lg-8">
                    <div class="row gy-4 posts-list">
                        {% for post in all_posts %}
                        <div class="col-lg-6">
                            <article class="d-flex flex-column">
                                <div class="post-img">
                                    <img src="{% static post.Post.image_link %}" alt="Image Loading.."
                                        class="img-fluid">
                                </div>
                                <h2 class="title">
                                    <a href="{% url 'get_post' post.Post.id %}">{{ post.Post.title }}</a>
                                </h2>
                                <div class="meta-top">
                                    <ul>
                                        <li class="d-flex align-items-center">
                                            <i class="bi bi-person"></i>
                                            <a href="#">Anonymous</a>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <i class="bi bi-clock"></i>
                                            <a href="#">
                                                <time datetime="{{ post.Post.created_at }}">{{ post.Post.created_at }}</time>
                                            </a>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <i class="bi bi-chat-dots"></i>
                                            <a href="#">
                                                {{ post.replies|length }}
                                                {% if post.replies|length == 1 %}
                                                Reply
                                                {% else %}
                                                Replies
                                                {% endif %}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="content">
                                    <p>{{ post.Post.content }}</p>
                                </div>
                                <div class="read-more mt-auto align-self-end">
                                    <a href="{% url 'get_post' post.Post.id %}">Read More</a>
                                </div>
                            </article>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- End blog posts list -->
                    <div class="blog-pagination">
                        <ul class="justify-content-center">
                            <li>
                                <a href="#">1</a>
                            </li>
                            <li class="active">
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End blog pagination -->
                </div>
                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="sidebar-item search-form">
                            <h3 class="sidebar-title">Search</h3>
                            <form action="search_posts" method="post" class="mt-3" onsubmit="return validateForm()">
                                {% csrf_token %}
                                <input name="search" type="text" id="inputField" placeholder="Search Title.." required
                                    pattern="[a-zA-Z0-9\s]+" title="Alphanumeric characters only">
                                <button type="submit" title="Search">
                                    <i class="bi bi-search"></i>
                                </button>
                            </form>
                        </div>
                        <!-- End sidebar search formn-->
                        <div class="card mt-5 mb-5 pt-3 pb-3">
                            <div class="card-body">
                                <div class="container pt-3">
                                    <div class="section-title">
                                        <h2>Posts</h2>
                                        <p> Create Post | Post Content </p>
                                    </div>
                                </div>
                                <form class="row g-3 needs-validation" method="post" action="{% url 'create_post' %}">
                                    {% csrf_token %}
                                    <div class="col-12 position-relative">
                                        <label for="validationTooltip01" class="form-label">
                                            <strong>Title</strong>
                                        </label>
                                        <input type="text" class="form-control" id="validationTooltip01" name="title"
                                            value="" required>
                                        <div class="valid-tooltip"> Looks good! </div>
                                        <div class="invalid-tooltip"> Please Enter a Title. </div>
                                    </div>
                                    <div class="row col-12 position-relative mt-3">
                                        <label for="myTextarea" class="form-label">
                                            <strong>Content</strong>
                                        </label>
                                        <div class="col-12">
                                            <textarea class="form-control textarea-style col-12" id="myTextarea"
                                                name="content" placeholder="Enter your text here" required
                                                rows="8"></textarea>
                                            <div class="valid-tooltip"> Looks good! </div>
                                            <div class="invalid-tooltip"> Please Enter Post Content. </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck"
                                                required>
                                            <label class="form-check-label" for="invalidCheck"> Agree to terms and
                                                conditions </label>
                                            <div class="invalid-feedback"> You must agree before submitting. </div>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <button class="btn btn-primary col-8" type="submit">Post Content</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="sidebar-item categories">
                            <h3 class="sidebar-title">Health Categories</h3>
                            <ul class="mt-3">
                                <li>
                                    <a href="#"> Wellness Tips <span>(25)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> Mental Health <span>(22)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> Disease Prevention <span>(8)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> Disease Awareness <span>(8)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> Nutrition <span>(12)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> Fitness <span>(5)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> Health Education <span>(14)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End sidebar categories-->
                        <div class="sidebar-item recent-posts">
                            <h3 class="sidebar-title">Recent Health Updates</h3>
                            <div class="mt-3">
                                <div class="post-item mt-3">
                                    <img src="{% static 'img/blog/blog-recent-1.jpg' %}" alt="" class="flex-shrink-0">
                                    <div>
                                        <h4>
                                            <a href="#">Managing Diabetes</a>
                                        </h4>
                                        <time datetime="2022-02-15">Feb 15, 2022</time>
                                    </div>
                                </div>
                                <!-- End recent health update item-->
                                <div class="post-item">
                                    <img src="{% static 'img/blog/blog-recent-2.jpg' %}" alt="" class="flex-shrink-0">
                                    <div>
                                        <h4>
                                            <a href="#">Cancer Awareness</a>
                                        </h4>
                                        <time datetime="2022-02-10">Feb 10, 2022</time>
                                    </div>
                                </div>
                                <!-- End recent health update item-->
                                <div class="post-item">
                                    <img src="{% static 'img/blog/blog-recent-3.jpg' %}" alt="" class="flex-shrink-0">
                                    <div>
                                        <h4>
                                            <a href="#">Cardiovascular Health</a>
                                        </h4>
                                        <time datetime="2022-02-05">Feb 5, 2022</time>
                                    </div>
                                </div>
                                <!-- End recent health update item-->
                                <div class="post-item">
                                    <img src="{% static 'img/blog/blog-recent-4.jpg' %}" alt="" class="flex-shrink-0">
                                    <div>
                                        <h4>
                                            <a href="#">Alzheimer's Awareness</a>
                                        </h4>
                                        <time datetime="2022-01-28">Jan 28, 2022</time>
                                    </div>
                                </div>
                                <!-- End recent health update item-->
                                <div class="post-item">
                                    <img src="{% static 'img/blog/blog-recent-5.jpg' %}" alt="" class="flex-shrink-0">
                                    <div>
                                        <h4>
                                            <a href="#">Respiratory Health</a>
                                        </h4>
                                        <time datetime="2022-01-20">Jan 20, 2022</time>
                                    </div>
                                </div>
                                <!-- End recent health update item-->
                            </div>
                        </div>
                        <!-- End sidebar recent health updates -->
                        <div class="sidebar-item tags">
                            <h3 class="sidebar-title">Health Tags</h3>
                            <ul class="mt-3">
                                <li>
                                    <a href="#">Cardiovascular Health</a>
                                </li>
                                <li>
                                    <a href="#">Cancer Prevention</a>
                                </li>
                                <li>
                                    <a href="#">Respiratory Health</a>
                                </li>
                                <li>
                                    <a href="#">Healthy Living</a>
                                </li>
                                <li>
                                    <a href="#">Wellness Tips</a>
                                </li>
                                <li>
                                    <a href="#">Preventive Care</a>
                                </li>
                                <li>
                                    <a href="#">Disease Awareness</a>
                                </li>
                                <li>
                                    <a href="#">Health Education</a>
                                </li>
                                <li>
                                    <a href="#">Diabetes Management</a>
                                </li>
                                <li>
                                    <a href="#">Alzheimer's</a>
                                </li>
                            </ul>
                        </div>
                        <!-- End sidebar tags-->
                    </div>
                    <!-- End Blog Sidebar -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog Section -->
</main>
{% endblock %}
{% block pagespecificjs %}
<script>
    function validateForm() {
        var searchInput = document.getElementById('inputField');
        var pattern = /[a-zA-Z0-9\s]+/;
        if (!pattern.test(searchInput.value)) {
            alert('Please enter alphanumeric characters only.');
            return false;
        }
        return true;
    }
</script>

<!-- ChatBot -->
<script>
    window.embeddedChatbotConfig = {
        chatbotId: "{{ request.session.chatbot_id }}",
        domain: "www.chatbase.co"
    }
</script>
<script src="https://www.chatbase.co/embed.min.js" chatbotId="{{ request.session.chatbot_id }}" domain="www.chatbase.co"
    defer>
    </script>
{% endblock %}