{% load static %}

<!DOCTYPE html>
<html lang="en">
    {% if not request.session.user_id or not request.session.is_authenticated %}
        <script type="text/javascript">
            window.location.href = "{% url 'login' %}";
        </script>
    {% endif %}
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Consultations</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <!-- Favicons -->
        <link href="{% static 'img/logo.png' %}" rel="icon">
        <link href="{% static 'img/logo.png' %}" rel="apple-touch-icon">
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
        <!-- Vendor CSS Files -->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/animate.css/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">

        <!-- letiables CSS Files. Uncomment your preferred color scheme -->
        <link href="{% static 'css/chat.css' %}" rel="stylesheet">
        <link href="{% static 'css/page-styles.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <link href="{% static 'css/datatable.css' %}" rel="stylesheet">
        <link href="{% static 'css/consultations.css' %}" rel="stylesheet">
        <link href="{% static 'css/variables.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="topbar" class="d-flex align-items-center fixed-top">
            <div class="container d-flex justify-content-between">
                <div class="contact-info d-flex align-items-center">
                    <i class="bi bi-envelope"></i>
                    <a href="mailto:healthconnect@nemisa.com">healthconnect@nemisa.com</a>
                    <i class="bi bi-phone"></i> +27 11 111 1111
                </div>
                <nav class="header-nav ms-auto">
                    <ul class="d-flex align-items-center">
                        <!-- Notification Nav -->
                        <li class="nav-item dropdown">
                            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                                <i class="bi bi-bell"></i>
                                <span class="badge bg-primary badge-number">4</span>
                            </a>
                            <!-- Notification Dropdown Items -->
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                                <li class="dropdown-header"> You have 4 new notifications <a href="#">
                                        <span class="badge rounded-pill bg-primary p-2 ms-2">View all</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <!-- Notification about a post reply -->
                                <li class="notification-item">
                                    <i class="bi bi-reply text-info"></i>
                                    <div>
                                        <h4>Post Reply</h4>
                                        <p>Someone replied to your post on health tips</p>
                                        <p>30 min. ago</p>
                                    </div>
                                </li>
                                <!-- End Notification about a post reply -->

                                <!-- Notification about an open consultation -->
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="notification-item">
                                    <i class="bi bi-calendar-plus text-success"></i>
                                    <div>
                                        <h4>New Consultation</h4>
                                        <p>A new consultation is open for scheduling</p>
                                        <p>1 hr. ago</p>
                                    </div>
                                </li>
                                <!-- End Notification about an open consultation -->

                                <!-- Notification about a closed consultation -->
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="notification-item">
                                    <i class="bi bi-calendar-check text-danger"></i>
                                    <div>
                                        <h4>Closed Consultation</h4>
                                        <p>Your recent consultation has been closed</p>
                                        <p>2 hrs. ago</p>
                                    </div>
                                </li>
                                <!-- End Notification about a closed consultation -->

                                <!-- Notification about a post reply -->
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="notification-item">
                                    <i class="bi bi-reply text-info"></i>
                                    <div>
                                        <h4>Post Reply</h4>
                                        <p>Someone replied to your post on healthy recipes</p>
                                        <p>4 hrs. ago</p>
                                    </div>
                                </li>
                                <!-- End Notification about a post reply -->

                                <!-- Show all notifications link -->
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="dropdown-footer">
                                    <a href="#">Show all notifications</a>
                                </li>
                            </ul>
                            <!-- End Notification Dropdown Items -->
                        </li>
                        <!-- End Notification Nav -->

                        <!-- Messages Icon -->
                        <li class="nav-item dropdown">
                            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                                <i class="bi bi-chat-left-text"></i>
                                <span class="badge bg-success badge-number">3</span>
                            </a>
                            <!-- Messages Dropdown Items -->
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                                <li class="dropdown-header"> You have 3 new messages <a href="#">
                                        <span class="badge rounded-pill bg-primary p-2 ms-2">View all</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <!-- Message about feedback on a consultation -->
                                <li class="message-item">
                                    <a href="#">
                                        <img src="{% static 'img/messages-1.jpg' %}" alt="Image Loading.." class="rounded-circle">
                                        <div>
                                            <h4>Maria Hudson</h4>
                                            <p>Provided feedback on your recent consultation</p>
                                            <p>4 hrs. ago</p>
                                        </div>
                                    </a>
                                </li>
                                <!-- End Message about feedback on a consultation -->

                                <!-- Message about feedback on a consultation -->
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="message-item">
                                    <a href="#">
                                        <img src="{% static 'img/messages-2.jpg' %}" alt="Image Loading.." class="rounded-circle">
                                        <div>
                                            <h4>Anna Nelson</h4>
                                            <p>Asked for clarification on your recent consultation</p>
                                            <p>6 hrs. ago</p>
                                        </div>
                                    </a>
                                </li>
                                <!-- End Message about feedback on a consultation -->

                                <!-- Message about feedback on a consultation -->
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="message-item">
                                    <a href="#">
                                        <img src="{% static 'img/messages-3.jpg' %}" alt="Image Loading.." class="rounded-circle">
                                        <div>
                                            <h4>David Muldon</h4>
                                            <p>Thanked you for your advice in the last consultation</p>
                                            <p>8 hrs. ago</p>
                                        </div>
                                    </a>
                                </li>
                                <!-- End Message about feedback on a consultation -->

                                <!-- Show all messages link -->
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="dropdown-footer">
                                    <a href="#">Show all messages</a>
                                </li>
                            </ul>
                            <!-- End Messages Dropdown Items -->
                        </li>
                        <!-- End Messages Nav -->
                        <li class="nav-item dropdown pe-3">
                            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                                {% if request.session.is_doctor %}
                                    <img src="{% static 'img/doctors/doctors-3.jpg' %}" alt="Profile" class="rounded-circle">
                                {% elif request.session.is_patient %}
                                    <img src="{% static 'img/testimonials/testimonials-4.jpg' %}" alt="Profile" class="rounded-circle">
                                {% else %}
                                    <img src="{% static 'img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
                                {% endif %}
                                <span class="d-none d-md-block dropdown-toggle ps-2">{{ request.session.name }} </span>
                            </a>
                            <!-- End Profile Iamge Icon -->
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                                <li class="dropdown-header">
                                    <h6>{{ request.session.name }}</h6>
                                    {% if request.session.is_doctor %}
                                        <span>HealthConnect Doctor</span>
                                    {% elif request.session.is_patient %}
                                        <span>HealthConnect Patient</span>
                                    {% else %}
                                        <span>HealthConnect Admin</span>
                                    {% endif %}
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" href="{% url 'get_user' %}">
                                        <i class="bi bi-person"></i>
                                        <span>My Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" href="{% url 'get_user' %}">
                                        <i class="bi bi-gear"></i>
                                        <span>Account Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" href="{% url 'help' %}">
                                        <i class="bi bi-question-circle"></i>
                                        <span>Need Help?</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                                        <i class="bi bi-box-arrow-right"></i>
                                        <span>Sign Out</span>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Profile Dropdown Items -->
                        </li>
                        <!-- End Profile Nav -->
                    </ul>
                </nav>
            </div>
        </div>
        <header id="header" class="header fixed-top bg-white">
            <div class="container d-flex align-items-center">
                <h1 class="logo me-auto">
                    <a href="#" class="logo me-auto">
                        <img src="{% static 'img/logo.png' %}" alt="" class="img-fluid">
                    </a>HealthConnect
                </h1>
                <nav id="navbar" class="navbar order-last order-lg-0">
                    <ul>
                        <li>
                            <a class="nav-link scrollto" href="{% url 'all_posts' %}">Blogs</a>
                        </li>
                        <li>
                            <a class="nav-link scrollto" href="{% url 'health_news' %}">Articles</a>
                        </li>
                        <li>
                            <a class="nav-link scrollto active" href="#">Consultations</a>
                        </li>
                        <li>
                            <a class="nav-link scrollto" href="{% url 'calendar' %}">Schedule</a>
                        </li>
                        <li>
                            <a class="nav-link scrollto" href="{% url 'contact' %}">Contact</a>
                        </li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav>
                <a href="{% url 'logout' %}" class="appointment-btn scrollto">Logout</a>
            </div>
        </header>
        <main id="main" class="main">
            {% if request.session.is_patient %}
                <section class="section">
                    <div class="section-title">
                        <h2>Check Disease</h2>
                    </div>
                    <div id="check_disease">
                        <div class="container mx-auto text-center">
                            <h2 id="symptoms_lists">Select Symptoms from List Bellow</h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" class="form-control search-input" placeholder="Search for Symptoms Here..." id="searchInput">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card pt-4 pb-4">
                                        <div class="card-body scrollable-list">
                                            <ul class="word-list" id="availableList">
                                                <!-- Created Using JavaScript DOM -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card pt-4 pb-4">
                                        <div class="card-body">
                                            <ul class="word-list" id="selectedList">
                                                <!-- Created Using JavaScript DOM -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-outline-success predict-button m-5" id="predictButton">Predict</a>
                        </div>
                    </div>
                    <form id="hiddenForm" style="display: none;" method="post" action="{% url 'create_disease' %}">
                        <input type="hidden" name="no_of_symptoms" id="hiddenNoOfSymptoms">
                        <input type="hidden" name="symptoms" id="hiddenSymptoms">
                        {% csrf_token %}

                        <button type="button" id="predictButton">Predict</button>
                    </form>
                    <!-- Consult a Doctor -->
                    {% if predicted_disesse %}
                        <div class="blog-card" id="result_prediction">
                            <div class="meta">
                                <div class="photo" style="background-image: url('{% static 'img/blog/blog-1.jpg' %}')"></div>
                            </div>
                            <div class="description">
                                <h4>Get more insights by opening a consultation</h4>
                                <h1>Disease Info</h1>
                                <p id="disease_id" style="display: none;">{{ predicted_disesse.id }}</p>
                                <p id="predicted"><strong>Predicted Disease</strong>: {{ predicted_disesse.diseasename }}</p>
                                <p id="consult_doc"><strong>Consult Doctor</strong>: {{ predicted_disesse.consultdoctor }}</p>
                                <p id="confidence"><strong>Confidence Score</strong>: {{ predicted_disesse.confidence }}</p>
                                <button id="consultNowBtn" class="btn btn-success">Consult Now</button>
                            </div>
                        </div>
                    {% endif %}
                </section>
                <!-- tables -->
                {% if doctors_info %}
                    <section class="section" id="consult_doctor" style="display: none;">
                        <div class="section-title">
                            <h2>Consult a Doctor</h2>
                        </div>
                        <div class="row">
                            <div class="col-10 mx-auto">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"></h5>
                                        <form id="make_consultation" style="display: none;" method="post" action="{% url 'make_consultation' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="doctor_id" id="hiddenDoctor_id">
                                            <input type="hidden" name="diseaseinfo_id" id="hiddenDiseaseinfo_id">
                                            <input type="hidden" name="consultation_date" id="hiddenConsultation_date">
                                            <input type="hidden" name="status" id="hiddenStatus">
                    
                                            <button type="button" id="makeConsultationBtn">Predict</button>
                                        </form>
                                        <table class="table datatable" aria-describedby="table-description">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <b>Doctor</b> Names
                                                    </th>
                                                    <th>Qualification</th>
                                                    <th>Council</th>
                                                    <th>Specialization</th>
                                                    <th>Registration No</th>
                                                    <th>Address</th>
                                                    <th>Activity</th>
                                                    <th><b>Make</b> Appointment</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for doctor in doctors_info %}
                                                    <tr>
                                                        <td>{{ doctor.surname }} {{ doctor.name }}</td>
                                                        <td>{{ doctor.qualification }}</td>
                                                        <td>{{ doctor.state_medical_council }}</td>
                                                        <td>{{ doctor.specialization }}</td>
                                                        <td>{{ doctor.registration_no }}</td>
                                                        <td>{{ doctor.address }}</td>
                                                        <td>{{ doctor.activity }} Hours p.d</td>
                                                        <td>
                                                            <a href="#" class="btn btn-primary doctor-link" data-doctor-id="{{ doctor.doctor_id }}">Talk to {{ doctor.name }}</a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <script>
                                            document.addEventListener('DOMContentLoaded', function() {
                                                // Doctor Consultation
                                                document.addEventListener('click', function (event) {
                                                    let predictedDiseaseId = document.getElementById('disease_id').textContent.trim();
                                                
                                                    if (event.target.classList.contains('doctor-link')) {
                                                        let doctorId = event.target.getAttribute('data-doctor-id');
                                                        console.log(doctorId);
                                                        let currentDatetime = new Date().toISOString();
                                
                                                        document.getElementById('hiddenDoctor_id').value = doctorId;
                                                        document.getElementById('hiddenDiseaseinfo_id').value = predictedDiseaseId;
                                                        document.getElementById('hiddenConsultation_date').value = currentDatetime;
                                                        document.getElementById('hiddenStatus').value = 'active';
                                
                                                        document.getElementById('make_consultation').submit();
                                                    }
                                                });
                                            });
                                        </script>
                                        <h5 class="card-title"></h5>
                                    </div>
                                </div>
                                <h5 class="card-title"></h5>
                            </div>
                        </div>
                    </section>
                    <script>
                        document.getElementById('consultNowBtn').addEventListener('click', function () {
                            var consultDoctorSection = document.getElementById('consult_doctor');
                            consultDoctorSection.style.display = (consultDoctorSection.style.display === 'none' || consultDoctorSection.style.display === '') ? 'block' : 'none';
                        });
                    </script>
                {% endif %}
            {% else %}
                <section class="section">
                    <div class="section-title">
                        <h2>HealthConnect Consultations</h2>
                    </div>
                    <div id="service_information" class="service_information">
                        <div class="container" data-aos="fade-up">
                            <div class="row gy-5">
                                <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                                    <div class="service-item">
                                        <div class="img">
                                            <img src="{% static 'img/blog/blog-recent-1.jpg' %}" class="img-fluid" alt="">
                                        </div>
                                        <div class="details position-relative">
                                            <div class="icon">
                                                <i class="bi bi-broadcast"></i>
                                            </div>
                                            <a href="#" class="stretched-link">
                                                <h3>Video Consultations</h3>
                                            </a>
                                            <p>As a dedicated Medical Professional, our doctor conducts video meetings to provide vital healthcare consultations. Utilizing technology to bridge the gap and save lives.</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                                    <div class="service-item">
                                        <div class="img">
                                            <img src="{% static 'img/blog/blog-1.jpg' %}" class="img-fluid" alt="">
                                        </div>
                                        <div class="details position-relative">
                                            <div class="icon">
                                                <i class="bi bi-chat-square-text"></i>
                                            </div>
                                            <a href="#" class="stretched-link">
                                                <h3>Consultation Chats</h3>
                                            </a>
                                            <p>Responding promptly to queries and concerns through consultation chats, our doctor ensures that individuals receive the guidance and support they need for their health journey.</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                                    <div class="service-item">
                                        <div class="img">
                                            <img src="{% static 'img/blog/blog-6.jpg' %}" class="img-fluid" alt="">
                                        </div>
                                        <div class="details position-relative">
                                            <div class="icon">
                                                <i class="bi bi-calendar4-week"></i>
                                            </div>
                                            <a href="{% url 'all_posts' %}" class="stretched-link">
                                                <h3>Posts and Replies</h3>
                                            </a>
                                            <p>Our Doctors actively engages in responding to posts and providing insightful replies. By participating in online discussions, the aim is to contribute to the well-being of the community and save lives through shared knowledge.</p>
                                        </div>
                                    </div>
                                </div>                                         
                            </div>
                        </div>
                    </div>
                </section>

            {% endif %}
            {% if consultation_history %}
                <section class="section">
                    <div class="section-title">
                        <h2>Consultation History</h2>
                    </div>
                    <div class="row">
                        <div class="col-10 mx-auto">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"></h5>
                                    <table class="table table-striped" aria-label="Consultation History Table">
                                        <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Start Date</th>
                                                <th scope="col">Diseasename</th>
                                                <th scope="col">Confidence (%)</th>
                                                <th scope="col">Consult Doctor</th>
                                                <th scope="col">Symptoms</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Consultation</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for consultation in consultation_history %}
                                                <tr>
                                                    <th scope="row">{{ consultation.consultation_id }}</th>
                                                    <td>{{ consultation.consultation_date }}</td>
                                                    <td>{{ consultation.diseaseinfo.diseasename }}</td>
                                                    <td>{{ consultation.diseaseinfo.confidence }}</td>
                                                    <td>{{ consultation.diseaseinfo.consultdoctor }}</td>
                                                    <td>{{ consultation.list_symptoms }}</td>
                                                    {% if consultation.status == 'closed' %}
                                                        <td>
                                                            <a href="#" class="btn btn-danger">Closed</a>
                                                        </td>
                                                    {% else %}
                                                        <td>
                                                            <a href="#" class="btn btn-success">Open</a>
                                                        </td>
                                                    {% endif %}
                                                    <td>
                                                        <a href="{% url 'consultation_view' consultation.consultation_id %}" class="btn btn-primary">View Consultation</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            {% endif %}
        </main>
        <footer id="footer" class="footer">
            <div class="copyright"> &copy; Copyright <strong>
                    <span>HealthConnect</span>
                </strong>. All Rights Reserved </div>
        </footer>
        <!-- Vendor JS Files -->
        <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'vendor/chart.js/chart.umd.js' %}"></script>
        <script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
        <script src="{% static 'vendor/quill/quill.min.js' %}"></script>
        <script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
        <script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
        <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
        <script src="{% static 'js/table-data.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                {% if request.session.is_patient %}
                    function generateWordList() {
                        let availableList = document.getElementById('availableList');
                        let selectedList = document.getElementById('selectedList');

                        let words = [
                            'itching', 'skin_rash', 'nodal_skin_eruptions', 'continuous_sneezing', 'shivering', 'chills', 'joint_pain',
                            'stomach_pain', 'acidity', 'ulcers_on_tongue', 'muscle_wasting', 'vomiting', 'burning_micturition', 'spotting_ urination',
                            'fatigue', 'weight_gain', 'anxiety', 'cold_hands_and_feets', 'mood_swings', 'weight_loss', 'restlessness', 'lethargy',
                            'patches_in_throat', 'irregular_sugar_level', 'cough', 'high_fever', 'sunken_eyes', 'breathlessness', 'sweating',
                            'dehydration', 'indigestion', 'headache', 'yellowish_skin', 'dark_urine', 'nausea', 'loss_of_appetite', 'pain_behind_the_eyes',
                            'back_pain', 'constipation', 'abdominal_pain', 'diarrhoea', 'mild_fever', 'yellow_urine',
                            'yellowing_of_eyes', 'acute_liver_failure', 'fluid_overload', 'swelling_of_stomach',
                            'swelled_lymph_nodes', 'malaise', 'blurred_and_distorted_vision', 'phlegm', 'throat_irritation',
                            'redness_of_eyes', 'sinus_pressure', 'runny_nose', 'congestion', 'chest_pain', 'weakness_in_limbs',
                            'fast_heart_rate', 'pain_during_bowel_movements', 'pain_in_anal_region', 'bloody_stool',
                            'irritation_in_anus', 'neck_pain', 'dizziness', 'cramps', 'bruising', 'obesity', 'swollen_legs',
                            'swollen_blood_vessels', 'puffy_face_and_eyes', 'enlarged_thyroid', 'brittle_nails',
                            'swollen_extremeties', 'excessive_hunger', 'extra_marital_contacts', 'drying_and_tingling_lips',
                            'slurred_speech', 'knee_pain', 'hip_joint_pain', 'muscle_weakness', 'stiff_neck', 'swelling_joints',
                            'movement_stiffness', 'spinning_movements', 'loss_of_balance', 'unsteadiness',
                            'weakness_of_one_body_side', 'loss_of_smell', 'bladder_discomfort', 'foul_smell_of urine',
                            'continuous_feel_of_urine', 'passage_of_gases', 'internal_itching', 'toxic_look_(typhos)',
                            'depression', 'irritability', 'muscle_pain', 'altered_sensorium', 'red_spots_over_body', 'belly_pain',
                            'abnormal_menstruation', 'dischromic _patches', 'watering_from_eyes', 'increased_appetite', 'polyuria', 'family_history', 'mucoid_sputum',
                            'rusty_sputum', 'lack_of_concentration', 'visual_disturbances', 'receiving_blood_transfusion',
                            'receiving_unsterile_injections', 'coma', 'stomach_bleeding', 'distention_of_abdomen',
                            'history_of_alcohol_consumption', 'fluid_overload', 'blood_in_sputum', 'prominent_veins_on_calf',
                            'palpitations', 'painful_walking', 'pus_filled_pimples', 'blackheads', 'scurring', 'skin_peeling',
                            'silver_like_dusting', 'small_dents_in_nails', 'inflammatory_nails', 'blister', 'red_sore_around_nose',
                            'yellow_crust_ooze'
                        ];
                    
                        for (let word of words.sort()) {
                            let listItem = document.createElement('li');
                            listItem.textContent = word;
                            listItem.classList.add('word-list-item');
                            listItem.addEventListener('click', function() {
                                let currentList = this.parentNode.id;
                                if (currentList === 'availableList') {
                                    let selectedWord = this.cloneNode(true);
                                    selectedList.appendChild(selectedWord);
                                    this.remove();
                                } else if (currentList === 'selectedList') {
                                    let availableWord = this.cloneNode(true);
                                    availableList.appendChild(availableWord);
                                    this.remove();
                                }
                            });
                            availableList.appendChild(listItem);
                        }
                    }

                    // Disease Prediction
                    document.getElementById('predictButton').addEventListener('click', function () {
                        let selectedListItems = document.querySelectorAll('#selectedList .word-list-item');
                        let selectedWordsArray = Array.from(selectedListItems).map(function (item) {
                            return item.textContent;
                        });

                        if (selectedWordsArray.length > 0) {
                            document.getElementById('hiddenNoOfSymptoms').value = selectedWordsArray.length;
                            document.getElementById('hiddenSymptoms').value = JSON.stringify(selectedWordsArray);

                            document.getElementById('hiddenForm').submit();
                        } else {
                            alert('Please select At Least One Symptom before Predicting.');
                        }
                    });
                    
                    generateWordList();
    
                    document.getElementById('selectedList').addEventListener('click', function(event) {
                        if (event.target.tagName === 'LI') {
                            event.target.remove();
                            availableList.appendChild(event.target);
                        }
                    });
                    document.getElementById('searchInput').addEventListener('input', function() {
                        let searchInput = this.value.toLowerCase();
                        let availableListItems = document.querySelectorAll('#availableList .word-list-item');
                        availableListItems.forEach(function(item) {
                            let word = item.textContent.toLowerCase();
                            item.style.display = word.includes(searchInput) ? 'block' : 'none';
                        });
                    });
                {% else %}
                    document.addEventListener("DOMContentLoaded", function () {
                        equalizeDetailsHeight();
                    });
                
                    function equalizeDetailsHeight() {
                        var detailsElements = document.querySelectorAll('.details');
                        var maxHeight = 0;
                        
                        detailsElements.forEach(function (details) {
                            maxHeight = Math.max(maxHeight, details.clientHeight);
                        });

                        detailsElements.forEach(function (details) {
                            details.style.height = maxHeight + 'px';
                        });
                    }
                {% endif %}
                
            });

            document.addEventListener('DOMContentLoaded', function () {
                {% if request.session.prediction_successful %}
                    var predictedDisease = true;
                {% else %}
                    var predictedDisease = false;
                {% endif %}

                if (predictedDisease) {
                    var resultPredictionDiv = document.getElementById('result_prediction');
                    if (resultPredictionDiv) {
                        var topOffset = resultPredictionDiv.offsetTop - 160;
                        window.scrollTo({
                            top: topOffset,
                            behavior: 'smooth'
                        });
                    }
                }
            });
        </script>

        {% comment %} ChatBot {% endcomment %}
        <script>
            window.embeddedChatbotConfig = {
                chatbotId: "{{ request.session.chatbot_id }}",
                domain: "www.chatbase.co"
            }
        </script>
        <script
            src = "https://www.chatbase.co/embed.min.js"
            chatbotId = "{{ request.session.chatbot_id }}"
            domain = "www.chatbase.co"
            defer>
        </script>
    </body>
</html>
