{% extends 'base.html' %}
{% load static %}


{% block redirect_script %}
{% if request.session.user_id and request.session.is_authenticated %}
{% if request.session.is_admin %}
<script>
    window.location.href = "{% url 'admin_page' %}";
</script>
{% elif request.session.is_doctor or request.session.is_patient %}
<script>
    window.location.href = "{% url 'all_posts' %}";
</script>
{% else %}
<script>
    console.log("Unknown role");
</script>
{% endif %}
{% endif %}

{% endblock %}

{% block title %}HealthConnect {% endblock %}
{% block calltoaction %}
<a href="{% url 'login' %}" class="appointment-btn scrollto">Login</a>
{% endblock %}
{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1>Welcome to HealthConnect</h1>
        <h2>Your Partner in Holistic Healthcare Solutions</h2>
        <p>Empowering your well-being with innovative health services and personalized care.</p>
        <a href="#about" class="btn-get-started scrollto">Explore Our Services</a>
    </div>
</section>
<main id="main">
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="content">
                        <h3>Why Choose HealthConnect?</h3>
                        <p> 
                            HealthConnect offers round-the-clock access to caring doctors, personalized healthcare,
                            and diagnosis letters in all South African languages. Using sentiment analysis, it takes a
                            proactive approach to wellness and fosters community support. Overall, it's a comprehensive 
                            choice for accessible, personalized, and proactive medical services.
                        </p>
                        <div class="text-center">
                            <a href="#about" class="more-btn">Learn More <i class="bx bx-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-receipt"></i>
                                     <h4>Personalized Healthcare</h4>
                                    <p>Receive dedicated care tailored to your needs. Connect with caring doctors
                                       anytime, anywhere, ensuring your well-being is our top priority.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-cube-alt"></i>
                                     <h4>Empowering You</h4>
                                    <p>Experience compassionate care and support every step of the way. Our
                                       platform is dedicated to helping you achieve optimal health and well-being.</p>
                                   
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-images"></i>
                                    <h4>Wellness Boost</h4>
                                    <p>Discover personalized solutions for your health needs. Whether it's support, 
                                       guidance, or treatment, we're here to empower you every step of the way. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End .content-->
                </div>
            </div>
        </div>
    </section>
    <!-- End Why Us Section -->
   
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container-fluid">
            <div class="row">
                <div
                    class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
                    <!-- We will add an Embeded Video here -->
                    <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a> -->
                    <a href="" class="glightbox play-btn mb-4" title="Play Video"></a>
                </div>
                <div
                    class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    <h3>Our Core values</h3>
                    <p>At HealthConnect, our core values form the foundation of everything we do. These values guide 
                        us in our mission to provide comprehensive and accessible healthcare solutions to individuals worldwide. 
                        Let's delve into each of these values:</p>
                    <div class="icon-box">
                        <div class="icon">
                            <i class="bx bx-fingerprint"></i>
                        </div>
                        <h4 class="title">
                            <a href="">Accessibility</a>
                        </h4>
                        <p class="description">We believe that healthcare should be available to everyone, regardless of their geographical location, socioeconomic status, or background. Our
                             commitment to accessibility drives us to offer round-the-clock access to medical professionals through our intuitive and user-friendly platform.</p>
                    </div>
                    <div class="icon-box">
                        <div class="icon">
                            <i class="bx bx-gift"></i>
                        </div>
                        <h4 class="title">
                            <a href="">Personalization</a>
                        </h4>
                        <p class="description">Recognizing that every individual is unique, we strive to personalize our services to meet the specific needs and preferences of each patient. 
                            By taking the time to understand your individual requirements, we ensure that you receive tailored healthcare solutions that prioritize your well-being.</p>
                    </div>
                    <div class="icon-box">
                        <div class="icon">
                            <i class="bx bx-atom"></i>
                        </div>
                        <h4 class="title">
                            <a href="">Innovation </a>
                        </h4>
                        <p class="description">At HealthConnect, we embrace innovation as a driving force behind progress in healthcare. 
                            We are dedicated to staying at the forefront of medical technology and research, continuously seeking new ways to enhance the quality,
                             efficiency, and accessibility of our services.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="fas fa-user-md"></i>
                        <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p>Doctors</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                    <div class="count-box">
                        <i class="far fa-hospital"></i>
                        <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p>Departments</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="fas fa-flask"></i>
                        <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p>Research Labs</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="fas fa-award"></i>
                        <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p>Awards</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Counts Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">
            <div class="section-title">
                <h2>Services</h2>
               
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box">
                        <div class="icon">
                            <i class="fas fa-heartbeat"></i>
                        </div>
                        <h4>
                            <a href="">Appointment Scheduling</a>
                        </h4>
                        <p>Online booking of appointments with doctors, specialists, or other healthcare providers. Connecting with highly rated healthcare professionals. Affording the opportunity to consult with best professionals</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box">
                        <div class="icon">
                            <i class="fas fa-pills"></i>
                        </div>
                        <h4>
                            <a href="">Health Monitoring and Tracking</a>
                        </h4>
                        <p>Features for users to track future health complications, thus offers advice for better living.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="icon-box">
                        <div class="icon">
                            <i class="fas fa-hospital-user"></i>
                        </div>
                        <h4>
                            <a href="">Health Education</a>
                        </h4>
                        <p>HealthConnect provides educational resources and tools to empower individuals with accurate and reliable health information. By promoting health literacy and awareness, HealthConnect addresses the need for a reliable alternative to internet searches for self-diagnosis,
                            encouraging individuals to seek timely healthcare advice from trusted professionals.</p>
                    </div>
                </div>
               
               
                </div>
            </div>
        </div>
    </section>
    <!-- End Services Section -->
    <!-- ======= Appointment Section ======= -->
    <section id="appointment" class="appointment section-bg">
        <div class="container">
            <div class="section-title">
                <h2>Book Your Appointment with HealthConnect</h2>
               <p>Experience convenience and ease in scheduling your healthcare 
                   appointments. Let us assist you in managing your health effectively.</p>
            </div>
            <form action="forms/appointment.php" method="post" role="form" class="php-email-form">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                            data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                        <div class="validate"></div>
                    </div>
                    <div class="col-md-4 form-group mt-3 mt-md-0">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                            data-rule="email" data-msg="Please enter a valid email">
                        <div class="validate"></div>
                    </div>
                    <div class="col-md-4 form-group mt-3 mt-md-0">
                        <input type="tel" class="form-control" name="phone" id="phone" placeholder="Your Phone"
                            data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                        <div class="validate"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group mt-3">
                        <input type="datetime" name="date" class="form-control datepicker" id="date"
                            placeholder="Appointment Date" data-rule="minlen:4"
                            data-msg="Please enter at least 4 chars">
                        <div class="validate"></div>
                    </div>
                    <div class="col-md-4 form-group mt-3">
                        <select title="select" name="department" id="department" class="form-select">
                            <option value="">Select Department</option>
                            <option value="Department 1">Cardiology</option>
                            <option value="Department 2">Dermatology</option>
                            <option value="Department 3">Gastroenterology </option>
                            <option value="Department 4">Urology </option>
                        </select>
                        <div class="validate"></div>
                    </div>
                    <div class="col-md-4 form-group mt-3">
                        <select title="select" name="doctor" id="doctor" class="form-select">
                            <option value="">Select Doctor</option>
                            <option value="Doctor 1">Cardiologist</option>
                            <option value="Doctor 2">Dermatologist</option>
                            <option value="Doctor 3">Gastroenterologist</option>
                            <option value="Doctor 4">Urologist</option>
                        </select>
                        <div class="validate"></div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <textarea class="form-control" name="message" rows="5" placeholder="Message (Optional)"></textarea>
                    <div class="validate"></div>
                </div>
                <div class="mb-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your appointment request has been sent successfully. Thank you!</div>
                </div>
                <div class="text-center">
                    <button type="submit">Book an Appointment</button>
                </div>
            </form>
        </div>
    </section>
    <!-- End Appointment Section -->
    <!-- ======= Departments Section ======= -->
    <section id="departments" class="departments">
        <div class="container">
            <div class="section-title">
                <h2>Discover HealthConnect's Departments</h2>
              <p> Explore our range of specialized departments, each dedicated to providing 
                  exceptional care and support. Let us help you find the expertise you need for your
                  health concerns.</p>
            </div>
            <div class="row gy-4">
                <div class="col-lg-3">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Cardiology</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Neurology</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Hepatology</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Pediatrics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Eye Care</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Cardiology</h3>
                                    <p class="fst-italic">In the pursuit of knowledge and wisdom, one finds the path to understanding
                                         the complexities of the human heart and its intricate workings.</p>
                                    <p>CardiolSogy is the medical field focused on heart and blood vessel disorders. Cardiologists
                                       diagnose and treat conditions like heart attacks and arrhythmias using tests like ECGs. They
                                        prescribe medications and recommend lifestyle changes or surgeries.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{% static 'img/departments-1.jpg' %}" alt="Image Loading.."
                                        class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3> Neurology </h3>
                                    <p class="fst-italic">In the pursuit of understanding, neurology delves into 
                                        the complexities of the human brain, unraveling its mysteries.</p>
                                    <p>Neurology delves into the realm of the mind and nervous system. It explores
                                       the intricacies of cognition, behavior, and neurological disorders. Every
                                       discovery unveils new pathways to understanding the brain's functions and 
                                       dysfunctions, offering hope and insight into the complexities of human experience.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{% static 'img/departments-2.jpg' %}" alt="Image Loading.."
                                        class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Hepatology</h3>
                                    <p class="fst-italic">Exploring the complexities of liver function and disease.</p>
                                    <p>Discovering insights into liver health, its disorders, and effective treatments. Hepatology
                                       offers solutions for managing liver conditions, providing hope amidst challenges.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{% static 'img/departments-3.jpg' %}" alt="Image Loading.."
                                        class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-4">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Pediatrics</h3>
                                    <p class="fst-italic">Navigating the unique challenges of pediatric care with compassion and expertise.
                                    </p>
                                    <p>Each patient encounter shapes our approach. Embracing every child's journey leads to understanding.
                                       Rejecting limitations, we strive for comprehensive care and innovation. Finding fulfillment in
                                       nurturing the health and well-being of children.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{% static 'img/departments-4.jpg' %}" alt="Image Loading.."
                                        class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-5">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Pediatrics</h3>
                                    <p class="fst-italic">Navigating the distinctive challenges of eye care with compassion and expertise.
                                    </p>
                                    <p>Every patient encounter shapes our approach. Embracing each person's visual journey leads to understanding.
                                         Rejecting limitations, we strive for comprehensive eye care and innovative solutions. Finding fulfillment 
                                         in safeguarding the vision and well-being of our patients.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{% static 'img/departments-5.jpg' %}" alt="Image Loading.."
                                        class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Departments Section -->
    <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors">
        <div class="container">
            <div class="section-title">
                <h2>Doctors</h2>
                <p>Doctors alleviate great pains. Their duties lead to various needs and escapes. They
                   handle difficult situations with care. Anyone can pursue their ambitions. No one should
                   obstruct or hinder their progress. Challenges only strengthen their resolve.</p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="member d-flex align-items-start">
                        <div class="pic">
                            <img src="{% static 'img/doctors/doctors-1.jpg' %}" class="img-fluid" alt="Image Loading..">
                        </div>
                        <div class="member-info">
                            <h4>Walter White</h4>
                            <span>Chief Medical Officer</span>
                            <p>Exploring and addressing challenges with expertise and compassion.</p>
                            <div class="social">
                                <a href="">
                                    <i class="ri-twitter-fill"></i>
                                </a>
                                <a href="">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                                <a href="">
                                    <i class="ri-instagram-fill"></i>
                                </a>
                                <a href="">
                                    <i class="ri-linkedin-box-fill"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="member d-flex align-items-start">
                        <div class="pic">
                            <img src="{% static 'img/doctors/doctors-2.jpg' %}" class="img-fluid" alt="Image Loading..">
                        </div>
                        <div class="member-info">
                            <h4>Sarah Jhonson</h4>
                            <span>Anesthesiologist</span>
                            <p>Delivering comfort and safety through precise care and expertise</p>
                            <div class="social">
                                <a href="">
                                    <i class="ri-twitter-fill"></i>
                                </a>
                                <a href="">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                                <a href="">
                                    <i class="ri-instagram-fill"></i>
                                </a>
                                <a href="">
                                    <i class="ri-linkedin-box-fill"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="pic">
                            <img src="{% static 'img/doctors/doctors-3.jpg' %}" class="img-fluid" alt="Image Loading..">
                        </div>
                        <div class="member-info">
                            <h4>William Anderson</h4>
                            <span>Cardiology</span>
                            <p>Understanding and treating heart-related conditions with expertise and care.</p>
                            <div class="social">
                                <a href="">
                                    <i class="ri-twitter-fill"></i>
                                </a>
                                <a href="">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                                <a href="">
                                    <i class="ri-instagram-fill"></i>
                                </a>
                                <a href="">
                                    <i class="ri-linkedin-box-fill"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="pic">
                            <img src="{% static 'img/doctors/doctors-4.jpg' %}" class="img-fluid" alt="Image Loading..">
                        </div>
                        <div class="member-info">
                            <h4>Amanda Jepson</h4>
                            <span>Neurosurgeon</span>
                            <p>Addressing complex neurological issues with skill and dedication.</p>
                            <div class="social">
                                <a href="">
                                    <i class="ri-twitter-fill"></i>
                                </a>
                                <a href="">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                                <a href="">
                                    <i class="ri-instagram-fill"></i>
                                </a>
                                <a href="">
                                    <i class="ri-linkedin-box-fill"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Doctors Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container">
            <div class="section-title">
                <h2>Testimonials</h2>
                <p>Great pains relieved. Duties met with compassion. Challenges overcome. 
                   Ambitions pursued. Progress unhindered. Resolve strengthened.</p>
            </div>
            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="testimonial-img"
                                    alt="Image Loading..">
                                <h3>Saul Goodman</h3>
                                <h4>Ceo &amp; Founder</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>As the CEO and founder, I am dedicated to ensuring that our company provides
                                     exceptional services. We strive to meet the needs of our clients with integrity and professionalism. Our commitment to excellence
                                     drives us forward, making a positive impact on the lives of those we serve. <i
                                        class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End testimonial item -->
                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="testimonial-img"
                                    alt="Image Loading..">
                                <h3>Sara Wilsson</h3>
                                <h4>Designer</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>As a designer, I thrive on creativity and innovation.
                                     Every project is an opportunity to bring ideas to life and inspire others. <i
                                        class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End testimonial item -->
                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="testimonial-img"
                                    alt="Image Loading..">
                                <h3>Jena Karlis</h3>
                                <h4>Store Owner</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i> As a store owner, I'm committed to providing exceptional products and service.
                                     Every customer is important, and every purchase is an opportunity to exceed expectations.<i
                                        class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End testimonial item -->
                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="{% static 'img/testimonials/testimonials-4.jpg' %}" class="testimonial-img"
                                    alt="Image Loading..">
                                <h3>Matt Brandon</h3>
                                <h4>Freelancer</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i> As a freelancer, I thrive on challenges and opportunities. Every project is
                                     a chance to excel, and every accomplishment fuels my passion for excellence.<i
                                        class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End testimonial item -->
                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="{% static 'img/testimonials/testimonials-5.jpg' %}" class="testimonial-img"
                                    alt="Image Loading..">
                                <h3>John Larson</h3>
                                <h4>Entrepreneur</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>As an entrepreneur, I embrace challenges and seize opportunities. 
                                    Every obstacle is a chance for growth, and every success is a testament to perseverance.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End testimonial item -->
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
    <!-- End Testimonials Section -->
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
        <div class="container">
            <div class="section-title">
                <h2>Gallery</h2>
                <p>Explore our collection of captivating images. Each one tells a unique story, 
                   capturing moments of beauty and inspiration.</p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row g-0">
                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'img/gallery/gallery-1.jpg' %}" class="galelry-lightbox">
                            <img src="{% static 'img/gallery/gallery-1.jpg' %}" alt="Image Loading.." class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'img/gallery/gallery-2.jpg' %}" class="galelry-lightbox">
                            <img src="{% static 'img/gallery/gallery-2.jpg' %}" alt="Image Loading.." class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'img/gallery/gallery-3.jpg' %}" class="galelry-lightbox">
                            <img src="{% static 'img/gallery/gallery-3.jpg' %}" alt="Image Loading.." class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'img/gallery/gallery-4.jpg' %}" class="galelry-lightbox">
                            <img src="{% static 'img/gallery/gallery-4.jpg' %}" alt="Image Loading.." class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'img/gallery/gallery-5.jpg' %}" class="galelry-lightbox">
                            <img src="{% static 'img/gallery/gallery-5.jpg' %}" alt="Image Loading.." class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'img/gallery/gallery-6.jpg' %}" class="galelry-lightbox">
                            <img src="{% static 'img/gallery/gallery-6.jpg' %}" alt="Image Loading.." class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'img/gallery/gallery-7.jpg' %}" class="galelry-lightbox">
                            <img src="{% static 'img/gallery/gallery-7.jpg' %}" alt="Image Loading.." class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'img/gallery/gallery-8.jpg' %}" class="galelry-lightbox">
                            <img src="{% static 'img/gallery/gallery-8.jpg' %}" alt="Image Loading.." class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Gallery Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
            <div class="section-title">
                <h2>Contact</h2>
                <p>Reach out to us for all your inquiries and needs. We're here to assist you with 
                   compassion and expertise, ensuring your satisfaction.</p>
            </div>
        </div>
        <div>
            <iframe title="contact frame" style="border:0; width: 100%; height: 350px;"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                allowfullscreen></iframe>
        </div>
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-4">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>88 Adam Street,Port Elizabeth, 2030</p>
                        </div>
                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>info@healthconnect.co.za</p>
                        </div>
                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>+27 66 270 4321</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 mt-5 mt-lg-0">
                    <!-- I will use SMTP to send mail -->
                    <form action="{% url 'sendmail' %}" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                    required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                                required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center">
                            <button type="submit" disabled>Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Section -->
</main>
{% endblock %}
