{% extends 'base.html' %}
{% load static %}

{% block redirect_script %}
{% if request.session.user_id and request.session.is_authenticated %}
{% if request.session.is_admin %}
<script>
    window.location.href = "{% url 'dashboard' %}";
</script>
{% elif request.session.is_doctor or request.session.is_patient %}
<script>
    window.location.href = "{% url 'all_posts' %}";
</script>
{% else %}
<script>
    console.log("Unknown role");
</script>
{% endif %}
{% endif %}
{% endblock %}
{% block title %}Login{% endblock %}

{% block calltoaction %}
            <a href="{% url 'register' %}" class="appointment-btn scrollto">Register</a>
            {% endblock %}
            {% block content %}            
    <main id="main" class="main min-vh-100">
        <div class="pagetitle">
            <h1>Access Account</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">
                            <i class="ri-home-line"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item active">Login</li>
                </ol>
            </nav>
        </div>
        <!-- End Page Title -->
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show col-6 mx-auto" role="alert">
                    <i class="bi bi-exclamation-octagon me-1"></i>
                    {{ message }} 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% elif message.tags == 'info' %}
                <div class="alert alert-info alert-dismissible fade show col-6 mx-auto" role="alert">
                    <i class="bi bi-exclamation-octagon me-1"></i>
                    {{ message }} 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% else %}
                <div class="alert alert-danger alert-dismissible fade show col-6 mx-auto" role="alert">
                    <i class="bi bi-exclamation-octagon me-1"></i>
                    {{ message }} 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
        <div class="container">
            <section class="section register d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-md-6 d-flex flex-column align-items-center justify-content-center">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                                        <p class="text-center small">Enter your email & password to login</p>
                                    </div>
                                    <div class="card">
                                        <div class="card-body">
                                            <!-- Bordered Tabs Justified -->
                                            <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified"
                                                role="tablist">
                                                <li class="nav-item flex-fill" role="presentation">
                                                    <button class="nav-link w-100 active" id="patient-tab"
                                                        data-bs-toggle="tab"
                                                        data-bs-target="#bordered-justified-patient" type="button"
                                                        role="tab" aria-controls="bordered-justified-patient"
                                                        aria-selected="true">Patient</button>
                                                </li>
                                                <li class="nav-item flex-fill" role="presentation">
                                                    <button class="nav-link w-100" id="doctor-tab" data-bs-toggle="tab"
                                                        data-bs-target="#bordered-justified-doctor" type="button"
                                                        role="tab" aria-controls="doctor"
                                                        aria-selected="false">Doctor</button>
                                                </li>
                                                <li class="nav-item flex-fill" role="presentation">
                                                    <button class="nav-link w-100" id="admin-tab" data-bs-toggle="tab"
                                                        data-bs-target="#bordered-justified-admin" type="button"
                                                        role="tab" aria-controls="admin"
                                                        aria-selected="false">Admin</button>
                                                </li>
                                            </ul>
                                            <!-- Patient -->
                                            <div class="tab-content pt-2 ce" id="borderedTabJustifiedContent">
                                                <div class="tab-pane fade show active" id="bordered-justified-patient"
                                                    role="tabpanel" aria-labelledby="patient-tab">
                                                    <form class="row g-3 needs-validation"
                                                        action="{% url 'login_patient' %}" method="post">
                                                        {% csrf_token %}
                                                        <div class="col-12">
                                                            <label for="yourUsernamePatient"
                                                                class="form-label">Username</label>
                                                            <div class="input-group has-validation">
                                                                <span class="input-group-text"
                                                                    id="inputGroupPrepend">@</span>
                                                                <input type="text" name="username" class="form-control"
                                                                    id="yourUsernamePatient" required>
                                                                <div class="invalid-feedback">Please choose a username.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <label for="yourPasswordPatient"
                                                                class="form-label">Password</label>
                                                            <input type="password" name="password" class="form-control"
                                                                id="yourPasswordPatient" required>
                                                            <div class="invalid-feedback">Please enter your password!
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-check">
                                                                <input class="form-check-input" name="terms"
                                                                    type="checkbox" value="" id="acceptTermsPatient"
                                                                    required>
                                                                <label class="form-check-label"
                                                                    for="acceptTermsPatient">I agree and accept the <a
                                                                        href="{% url 'get_terms_and_conditions' %}">terms and conditions</a>
                                                                </label>
                                                                <div class="invalid-feedback">You must agree before
                                                                    submitting.</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 mx-auto">
                                                            <button class="btn btn-primary w-100"
                                                                type="submit">Login</button>
                                                        </div>
                                                        <div class="col-12">
                                                            <p class="small mb-0">Don't have an account? <a
                                                                    href="{% url 'register' %}">Create Account</a>
                                                            </p>
                                                        </div>
                                                    </form>
                                                </div>
                                                <!-- Doctor -->
                                                <div class="tab-pane fade" id="bordered-justified-doctor"
                                                    role="tabpanel" aria-labelledby="doctor-tab">
                                                    <form class="row g-3 needs-validation"
                                                        action="{% url 'login_doctor' %}" method="post">
                                                        {% csrf_token %}
                                                        <div class="col-12">
                                                            <label for="yourUsernameDoctor"
                                                                class="form-label">Username</label>
                                                            <div class="input-group has-validation">
                                                                <span class="input-group-text"
                                                                    id="inputGroupPrepend">@</span>
                                                                <input type="text" name="username" class="form-control"
                                                                    id="yourUsernameDoctor" required>
                                                                <div class="invalid-feedback">Please choose a username.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <label for="yourPasswordDoctor"
                                                                class="form-label">Password</label>
                                                            <input type="password" name="password" class="form-control"
                                                                id="yourPasswordDoctor" required>
                                                            <div class="invalid-feedback">Please enter your password!
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-check">
                                                                <input class="form-check-input" name="terms"
                                                                    type="checkbox" value="" id="acceptTermsDoctor"
                                                                    required>
                                                                <label class="form-check-label"
                                                                    for="acceptTermsDoctor">I agree and accept the <a
                                                                        href="{% url 'get_terms_and_conditions' %}">terms and conditions</a>
                                                                </label>
                                                                <div class="invalid-feedback">You must agree before
                                                                    submitting.</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 mx-auto">
                                                            <button class="btn btn-primary w-100"
                                                                type="submit">Login</button>
                                                        </div>
                                                        <div class="col-12">
                                                            <p class="small mb-0">Don't have an account? <a
                                                                    href="{% url 'register' %}">Create Account</a>
                                                            </p>
                                                        </div>
                                                    </form>
                                                </div>
                                                <!-- Admin -->
                                                <div class="tab-pane fade" id="bordered-justified-admin" role="tabpanel"
                                                    aria-labelledby="admin-tab">
                                                    <form class="row g-3 needs-validation"
                                                        action="{% url 'login_admin' %}" method="post" novalidate>
                                                        {% csrf_token %}
                                                        <div class="col-12">
                                                            <label for="yourUsernameAdmin"
                                                                class="form-label">Username</label>
                                                            <div class="input-group has-validation">
                                                                <span class="input-group-text"
                                                                    id="inputGroupPrepend">@</span>
                                                                <input type="text" name="username" class="form-control"
                                                                    id="yourUsernameAdmin" required>
                                                                <div class="invalid-feedback">Please choose a username.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <label for="yourPasswordAdmin"
                                                                class="form-label">Password</label>
                                                            <input type="password" name="password" class="form-control"
                                                                id="yourPasswordAdmin" required>
                                                            <div class="invalid-feedback">Please enter your password!
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-check">
                                                                <input class="form-check-input" name="terms"
                                                                    type="checkbox" value="" id="acceptTermsAdmin"
                                                                    required>
                                                                <label class="form-check-label" for="acceptTermsAdmin">I
                                                                    agree and accept the <a href="#">terms and
                                                                        conditions</a>
                                                                </label>
                                                                <div class="invalid-feedback">You must agree before
                                                                    submitting.</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 mx-auto">
                                                            <button class="btn btn-primary w-100"
                                                                type="submit">Login</button>
                                                        </div>
                                                        <div class="col-12">
                                                            <p class="small mb-0">Don't have an account? <a
                                                                    href="{% url 'register' %}">Create Account</a>
                                                            </p>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <!-- End #main -->
    {% endblock %}