{% extends 'base.html' %}
{% load static %}
{% block redirect_script %}
{% if not request.session.user_id or not request.session.is_authenticated %}
<script type="text/javascript">
    window.location.href = "{% url 'login' %}";
</script>
{% endif %}
{% endblock %}
{% block title %}Calendar{% endblock %}
{% block pagespecificstyle %}
<!-- Add the evo-calendar.css for styling -->
<link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'evo-calendar/css/evo-calendar.min.css' %}">
{% endblock %}
{% block content %}
<div id="calendar min-vh-100">
    <section id="demos">
        <div class="section-content">
            <div class="container">
                <div class="section-title">
                    <h2>Consultations Schedule</h2>
                </div>
            </div>
            <div class="console-log">
                <div class="log-content">
                    <div class="--noshadow" id="demoEvoCalendar"></div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
<!-- ChatBot -->
{% block pagespecificjs %}

<script src="{% static '/evo-calendar/js/evo-calendar.min.js' %}"></script>
<script src="{% static '/js/calendar.js' %}"></script>
<script>
    window.embeddedChatbotConfig = {
        chatbotId: "{{ request.session.chatbot_id }}",
        domain: "www.chatbase.co"
    }
</script>
<script src="https://www.chatbase.co/embed.min.js" chatbotId="{{ request.session.chatbot_id }}" domain="www.chatbase.co"
    defer>
    </script>
{% endblock %}