
main {
    position: relative;
    width: 100%;
}
.main-container {
    padding-top: 80px;
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
}
section {
    padding: 20px;
}
section .section-content {
    position: relative;
    margin-bottom: 50px;
    margin-top: 120px;
}
section .section-content::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 40%;
    height: 3px;
    background-image: -o-linear-gradient(left, transparent, #fff, transparent);
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(transparent),
        color-stop(#fff),
        to(transparent)
    );
    background-image: linear-gradient(to right, transparent, #fff, transparent);
    -webkit-transform: translate(-50%, 40px);
    -ms-transform: translate(-50%, 40px);
    transform: translate(-50%, 40px);
}
section .section-content:last-of-type:not(:first-child)::after {
    content: none;
}
section p.section-title {
    font-family: "Pacifico", cursive;
    font-size: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    margin: 0;
    text-shadow: 0 2px 6px #6c72bf;
}
section p.section-title.--lng {
    margin-bottom: 40px;
}
section p.section-title.--shrt {
    margin-bottom: 20px;
}
section p.section-desc {
    font-family: "Fira Mono", monospace;
    position: relative;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}
section div.section-caption {
    display: block;
    text-align: center;
    margin-bottom: 0;
}
section div.section-caption > p {
    font-family: "Fira Mono", monospace;
    position: relative;
    display: inline-block;
    font-size: 30px;
    line-height: 32px;
    color: #fff;
    padding: 0 5px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-shadow: 0 2px 6px #6c72bf;
}
section div.section-caption > p::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: rgba(76, 54, 255, 0.25);
    z-index: -1;
}
section .section-note {
    font-family: "Fira Mono", monospace;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 1.4;
    margin: 20px 0 0;
}
section .section-note > a {
    text-decoration: none;
    color: #3082f5;
    font-weight: 600;
}
section .section-note > a:hover {
    color: #3082f5;
}

.console-log {
    position: relative;
    width: 100%;
    padding: 26px 10px 10px 10px;
    background-color: #fff;
    border-radius: 8px;
    margin: 10px auto 30px auto;
    -webkit-box-shadow: 0 10px 20px -5px rgba(19, 31, 51, 0.65);
    box-shadow: 0 10px 20px -5px rgba(19, 31, 51, 0.65);
    max-width: 90%;
}

@media only screen and (max-width: 1366px) {
    .main-container {
        max-width: 1200px;
    }
}

@media only screen and (max-width: 768px) {
    section {
        padding: 20px 40px;
    }
    section p.section-desc {
        width: 70%;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 22px;
    }
}
@media only screen and (max-width: 425px) {
    .main-container {
        padding-top: 110px;
    }
    section {
        padding: 20px;
    }
    section .section-content {
        margin-bottom: 40px;
    }
    section p.section-title {
        font-size: 40px;
        line-height: 42px;
    }
    section p.section-title.--lng {
        margin-bottom: 35px;
    }
    section p.section-title.--shrt {
        margin-bottom: 15px;
    }
    section p.section-desc {
        width: 100%;
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 14px;
    }
    section div.section-caption > p {
        font-size: 16px;
        line-height: 18px;
    }
    section div.section-caption > p::after {
        -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
        transform: translateY(5px);
    }
    section .section-content::after {
        width: 50%;
        -webkit-transform: translate(-50%, 30px);
        -ms-transform: translate(-50%, 30px);
        transform: translate(-50%, 30px);
    }
    button.btn-action {
        font-size: 12px;
        padding: 10px 15px;
        width: 100%;
        margin: 5px 0;
    }
}

#calendar {
    margin-top: 10px;
}
