.chat {
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    height: 100%;
}

.card {
    height: 500px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgba(218, 218, 218, 0.4);
    flex: 1;
    position: relative;
}

.card-header {
    border-radius: 15px 15px 0 0;
    border-bottom: 0;
}

.card-footer {
    border-radius: 0 0 15px 15px;
    border-top: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
    position: absolute;
}

.container {
    align-content: center;
}

.type_msg {
    border: 1px #9fc2ff solid;
    border-radius: 15px 0 0 15px;
    color: rgb(17, 17, 17);
    height: 60px;
    overflow-y: auto;
}

#send_btn {
    color: white;
    background: #1977cc;
    border: 1px #9fc2ff solid;
    border-radius: 0 15px 15px 0;
    font-size: 30px;
    cursor: pointer;
    height: 60px;
}

.type_msg:focus {
    box-shadow: none;
    outline: 0px;
}

.user_img {
    height: 100%;
    width: 100%;
    border: 1.5px solid #122a8e;
}

.user_img_msg {
    height: 100%;
    width: 100%;
    border: 1.5px solid #f5f6fa;
}

.img_cont {
    position: relative;
    height: 70px;
    width: 70px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #63df50;
    border-radius: 50%;
    bottom: 13px;
    right: 13px;
    border: 1.5px solid rgb(185, 185, 185);
}

.offline {
    background-color: #c23616;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.user_info span {
    font-size: 20px;
    color: rgb(38, 38, 38);
    font-weight: 600;
}

.user_info p {
    font-size: 10px;
    color: rgba(34, 34, 34, 0.6);
}

.video_cam {
    margin-left: 50px;
    margin-top: 5px;
}

.video_cam span {
    color: rgb(80, 80, 80);
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 15px;
    background-color: #77e0f829;
    padding: 10px;
    position: relative;
    color: black;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 15px;
    background-color: #1977cc;
    color: white;
    padding: 10px;
    position: relative;
}

.msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: black;
    font-size: 10px;
}

.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: #1977cc;
    font-size: 10px;
}

.msg_head {
    position: relative;
}

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px;
    }
}

.msg_card_body {
    overflow-y: auto;
    flex: 1;
}

.msg_card_body_with_scrollbar {
    overflow-x: auto;
}