<!-- your_template.html -->
{% extends "basic.html" %}
{% load static %}
{% block head %}

    <title>Blog</title>
    {% endblock %}
    {% block body %}

    <h1>Test blog</h1>
    
    <ul>
        {% for post in all_posts %}
            <li>{{ post.post_header }} - {{ post.post_text }}</li>
           
            <form method="post" action="{% url 'recent_post' %}">
                {% csrf_token %}
                <label for="reply_text">Your Reply:</label>
                <textarea id="reply_text"  name="reply_text" required ></textarea>
                <button type="submit">Reply</button>
            </form>

        {% endfor %}
        
    </ul>

    


    <body>
        <h1>Create a New Post</h1>

        <form action="{% url 'recent_post' %}" method="POST"> 
            {% csrf_token %}
             <div class="form-group mt-2">
                <label>Public user name</label>
                <input type="text"  class="form-control" rows="5" id="public_user_name" name="header"><br>
                <label>Public question</label>
                <textarea type="text"  class="form-control" rows="5" id="public_post" name="post"></textarea>
             </div>
             <button type="submit" id="sendpost" class="btn btn-primary">Post</button>
         </form>


<script>
         $('#sendpost').click( function(event){
            event.preventDefault();
              console.log("AA")
            $.ajax({
                url :"{% url 'recent_post' %}",
                type : "POST",
                data : { username : $('#public_user_name').val(),
                posttext : $('#public_post').val(),
                csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val()
               },
        
                success : function(json){
                    console.log(json);
                    location.reload()

                    
                }
            });
        
        
        
        });
    </script>
         {% endblock %}
