<!-- your_template.html -->
{% extends "basic.html" %}
{% load static %}
{% block head %}

<title>Posts</title>
<style>
    .reply-container {
        margin-left: 20px;
    }
</style>
{% endblock %}
{% block body %}
<div style="display: flex;align-items: center;justify-content:center; flex-direction: column;">
    <h1>HealthConnect Feed</h1>
    {% for post in all_posts %}
    <div class="post-container" id="post-{{ post.id }}">
        <p>{{ post.post_header }}</p>
        <p>{{ post.post_text }}</p>

        <p>Posted by: {{ post.user.username }} | {{ post.created_at }}</p>

        <div>
            <!-- Form for replying to a post -->
            <form method="post" action="{% url 'create_reply' %}">
                {% csrf_token %}
                <label for="reply-post-id">Replying to :</label>
                <br>
                <label for="reply-content">Response :</label>
                <textarea id="reply-content" name="reply_content" required></textarea>
                <br>
                <p hidden="true" id="postID" name="postid">{{ post.post_id }}</p>
                <button type="submit" id="replysubmit">Respond</button>
            </form>
        </div>

        {% if post.replies.all %}
        <div class="reply-container" id="replies-{{ post.id }}">
            <p><strong>Replies:</strong></p>
            {% for reply in post.replies.all %}
            <p>{{ reply.content }} - {{ reply.user.username }} | {{ reply.created_at }}</p>
            {% endfor %}


        </div>
        {% endif %}

        <button onclick="toggleReplies('{{ post.id }}')">Show/Hide Replies</button>


    </div>
    <hr>
    {% endfor %}

    <!-- Form for creating a new post -->
    <form method="post" action="{% url 'recent_post' %}">
        {% csrf_token %}
        <label for="new-post">New Post:</label>
        <textarea id="new-post" name="new_post_content" required></textarea>
        <br>
        <button id="sendpost" type="submit">Create Post</button>
    </form>


</div>
<script>
    function toggleReplies(postId) {
        var repliesContainer = document.querySelector(`#replies-${postId}`);
        repliesContainer.style.display = (repliesContainer.style.display === 'none' || repliesContainer.style.display === '') ? 'block' : 'none';
    }


    $('#sendpost').click(function (event) {
        event.preventDefault();
        console.log("AA")
        $.ajax({
            url: "{% url 'recent_post' %}",
            type: "POST",
            data: {
                posttext: $('#new-post').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },

            success: function (json) {
                console.log(json);
                location.reload()


            }
        });



    });

    $('#replysubmit').click(function (event) {
        event.preventDefault();
        console.log("BB")
        $.ajax({
            url: "{% url 'create_reply' %}",
            type: "POST",
            data: {
                replycontent: $('#reply-content').val(),
                postID: $('#postID').text(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()

            },

            success: function (json) {
                console.log(json);
                location.reload()


            }
        });



    });

</script>
{% endblock %}