<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="author" content="SemiColonWeb">
	<meta name="description" content="Get Canvas to build powerful websites easily with the Highly Customizable &amp; Best Selling Bootstrap Template, today.">

	<!-- Font Imports -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">

	<!-- Core Style -->
	<link rel="stylesheet" href="style.css">

	<!-- Font Icons -->
	<link rel="stylesheet" href="css/font-icons.css">

	<!-- Plugins/Components CSS -->
	<link rel="stylesheet" href="css/swiper.css">

	<!-- Niche Demos -->
	<link rel="stylesheet" href="demos/construction/construction.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="css/custom.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Document Title
	============================================= -->
	<title>News - Construction | Canvas</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper">

		<!-- Top Bar
		============================================= -->
		<div id="top-bar">
			<div class="container">

				<div class="row justify-content-between">
					<div class="col-12 col-md-auto">

						<!-- Top Social
						============================================= -->
						<ul id="top-social">
							<li><a href="#" class="h-bg-facebook"><span class="ts-icon"><i class="fa-brands fa-facebook-f"></i></span><span class="ts-text">Facebook</span></a></li>
							<li><a href="#" class="h-bg-twitter"><span class="ts-icon"><i class="fa-brands fa-twitter"></i></span><span class="ts-text">Twitter</span></a></li>
							<li><a href="#" class="h-bg-dribbble"><span class="ts-icon"><i class="fa-brands fa-dribbble"></i></span><span class="ts-text">Dribbble</span></a></li>
							<li><a href="#" class="h-bg-github"><span class="ts-icon"><i class="fa-brands fa-github"></i></span><span class="ts-text">Github</span></a></li>
							<li><a href="#" class="h-bg-pinterest"><span class="ts-icon"><i class="fa-brands fa-pinterest-p"></i></span><span class="ts-text">Pinterest</span></a></li>
							<li><a href="#" class="h-bg-instagram"><span class="ts-icon"><i class="fa-brands fa-instagram"></i></span><span class="ts-text">Instagram</span></a></li>
						</ul><!-- #top-social end -->

					</div>

					<div class="col-12 col-md-auto">

						<!-- Top Links
						============================================= -->
						<div class="top-links">
							<ul class="top-links-container">
								<li class="top-links-item"><a href="#">Locations</a>
									<ul class="top-links-sub-menu">
										<li class="top-links-item"><a href="#">San Francisco</a></li>
										<li class="top-links-item"><a href="#">London</a></li>
										<li class="top-links-item"><a href="#">Amsterdam</a></li>
									</ul>
								</li>
								<li class="top-links-item"><a href="faqs.html">FAQs</a></li>
								<li class="top-links-item"><a href="contact.html">Contact</a></li>
							</ul>
						</div><!-- .top-links end -->

					</div>
				</div>

			</div>
		</div><!-- #top-bar end -->

		<!-- Header
		============================================= -->
		<header id="header" class="header-size-sm" data-sticky-shrink="false">
			<div class="container">
				<div class="header-row">

					<!-- Logo
					============================================= -->
					<div id="logo" class="ms-auto ms-lg-0 me-lg-auto">
						<a href="demo-construction.html">
							<img class="logo-default" srcset="demos/construction/images/logo.png, demos/construction/images/logo@2x.png 2x" src="demos/construction/images/logo@2x.png" alt="Canvas Logo">
						</a>
					</div><!-- #logo end -->

					<div class="header-misc d-none d-lg-flex">

						<ul class="header-extras">
							<li>
								<i class="i-plain bi-telephone m-0"></i>
								<div class="he-text">
									Call Us
									<span>(1) 22 54215821</span>
								</div>
							</li>
							<li>
								<i class="i-plain bi-envelope m-0"></i>
								<div class="he-text">
									Email Us
									<span>info@canvas.com</span>
								</div>
							</li>
							<li>
								<i class="i-plain bi-clock m-0"></i>
								<div class="he-text">
									We'are Open
									<span>Mon - Sat, 10AM to 6PM</span>
								</div>
							</li>
						</ul>

					</div>

				</div>
			</div>

			<div id="header-wrap">
				<div class="container">
					<div class="header-row justify-content-between flex-row-reverse flex-lg-row justify-content-lg-center">

						<div class="header-misc">

							<!-- Top Search
							============================================= -->
							<div id="top-search" class="header-misc-icon">
								<a href="#" id="top-search-trigger"><i class="uil uil-search"></i><i class="bi-x-lg"></i></a>
							</div><!-- #top-search end -->

						</div>

						<div class="primary-menu-trigger">
							<button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
								<span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
							</button>
						</div>

						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu with-arrows">

							<ul class="menu-container">
								<li class="menu-item"><a class="menu-link" href="demo-construction.html"><div>Home</div></a></li>
								<li class="menu-item"><a class="menu-link" href="demo-construction-services.html"><div>What we do</div></a>
									<ul class="sub-menu-container">
										<li class="menu-item"><a class="menu-link" href="#"><div>Housing Management</div></a></li>
										<li class="menu-item"><a class="menu-link" href="#"><div>Construction Planning</div></a></li>
										<li class="menu-item"><a class="menu-link" href="#"><div>Green Homes</div></a></li>
										<li class="menu-item"><a class="menu-link" href="#"><div>Architecture Design</div></a></li>
										<li class="menu-item"><a class="menu-link" href="#"><div>Interior Planning</div></a></li>
									</ul>
								</li>
								<li class="menu-item"><a class="menu-link" href="demo-construction-about-us.html"><div>About Us</div></a></li>
								<li class="menu-item"><a class="menu-link" href="demo-construction-projects.html"><div>Projects</div></a>
									<ul class="sub-menu-container">
										<li class="menu-item"><a class="menu-link" href="demo-construction-projects-2.html"><div>2 Columns</div></a></li>
										<li class="menu-item"><a class="menu-link" href="demo-construction-projects-3.html"><div>3 Columns</div></a></li>
										<li class="menu-item"><a class="menu-link" href="demo-construction-projects.html"><div>4 Columns</div></a></li>
										<li class="menu-item"><a class="menu-link" href="demo-construction-projects-5.html"><div>5 Columns</div></a></li>
									</ul>
								</li>
								<li class="menu-item"><a class="menu-link" href="demo-construction-investors.html"><div>Investors</div></a></li>
								<li class="menu-item current"><a class="menu-link" href="demo-construction-blog.html"><div>News</div></a></li>
								<li class="menu-item"><a class="menu-link" href="demo-construction-careers.html"><div>Careers</div></a></li>
								<li class="menu-item"><a class="menu-link" href="demo-construction-contact.html"><div>Contact</div></a></li>
							</ul>

						</nav><!-- #primary-menu end -->

						<form class="top-search-form" action="search.html" method="get">
							<input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter.." autocomplete="off">
						</form>

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->

		<!-- Page Title
		============================================= -->
		<section class="page-title page-title-center bg-transparent">
			<div class="container">
				<div class="page-title-row">

					<div class="page-title-content">
						<h1>Our Blog</h1>
						<span>Best Construction News</span>
					</div>

					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Our Blog</li>
						</ol>
					</nav>

				</div>
			</div>
		</section><!-- .page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container">

					<div class="row gx-5 col-mb-80">
						<!-- Post Content
						============================================= -->
						<main class="postcontent col-lg-9">

							<!-- Posts
							============================================= -->
							<div id="posts" class="row gutter-40 mb-0">

								<div class="entry col-12">
									<div class="grid-inner row g-0">
										<div class="col-md-4">
											<a class="entry-image" href="demos/construction/images/team/4.jpg" data-lightbox="image"><img src="demos/construction/images/team/4.jpg" alt="Standard Post with Image"></a>
										</div>
										<div class="col-md-8 ps-md-4">
											<div class="entry-title title-sm">
												<h2><a href="#">This is a Standard post with a Preview Image</a></h2>
											</div>
											<div class="entry-meta">
												<ul>
													<li><i class="uil uil-schedule"></i> 10th Feb 2021</li>
													<li><a href="#"><i class="uil uil-user"></i> admin</a></li>
													<li><i class="uil uil-folder-open"></i> <a href="#">General</a>, <a href="#">Media</a></li>
													<li><a href="#"><i class="uil uil-comments-alt"></i> 13</a></li>
													<li><a href="#"><i class="uil uil-camera"></i></a></li>
												</ul>
											</div>
											<div class="entry-content">
												<p>Completely unleash web-enabled technology for sustainable channels. Authoritatively innovate innovative synergy rather than professional outsourcing. Conveniently myocardinate leading-edge functionalities with cutting-edge imperatives. Enthusiastically synergize prospective convergence without user-centric meta-services. Conveniently leverage other's impactful metrics after value-added "outside the box" thinking. Efficiently conceptualize interdependent markets whereas functionalized technology.</p>
												<a href="#" class="button button-border button-rounded">Read More</a>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-12">
									<div class="grid-inner row g-0">
										<div class="col-md-4">
											<div class="entry-image">
												<iframe src="https://player.vimeo.com/video/87701971" width="500" height="350" allow="autoplay; fullscreen" allowfullscreen></iframe>
											</div>
										</div>
										<div class="col-md-8 ps-md-4">
											<div class="entry-title title-sm">
												<h2><a href="#">This is a Standard post with an Embedded Video</a></h2>
											</div>
											<div class="entry-meta">
												<ul>
													<li><i class="uil uil-schedule"></i> 16th Feb 2021</li>
													<li><a href="#"><i class="uil uil-user"></i> admin</a></li>
													<li><i class="uil uil-folder-open"></i> <a href="#">Videos</a>, <a href="#">News</a></li>
													<li><a href="#"><i class="uil uil-comments-alt"></i> 19</a></li>
													<li><a href="#"><i class="uil uil-film"></i></a></li>
												</ul>
											</div>
											<div class="entry-content">
												<p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam esse beatae hic perferendis velit deserunt soluta iste repellendus officia in neque veniam debitis placeat quo unde reprehenderit eum facilis vitae.</p>
												<a href="#" class="button button-border button-rounded">Read More</a>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-12">
									<div class="grid-inner row g-0">
										<div class="col-md-4">
											<div class="entry-image">
												<div class="fslider" data-arrows="false" data-lightbox="gallery">
													<div class="flexslider">
														<div class="slider-wrap">
															<div class="slide"><a href="demos/construction/images/projects/3.jpg" data-lightbox="gallery-item"><img src="demos/construction/images/projects/3.jpg" alt="Standard Post with Gallery"></a></div>
															<div class="slide"><a href="demos/construction/images/projects/4.jpg" data-lightbox="gallery-item"><img src="demos/construction/images/projects/4.jpg" alt="Standard Post with Gallery"></a></div>
															<div class="slide"><a href="demos/construction/images/projects/5.jpg" data-lightbox="gallery-item"><img src="demos/construction/images/projects/5.jpg" alt="Standard Post with Gallery"></a></div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-8 ps-md-4">
											<div class="entry-title title-sm">
												<h2><a href="#">This is a Standard post with a Slider Gallery</a></h2>
											</div>
											<div class="entry-meta">
												<ul>
													<li><i class="uil uil-schedule"></i> 24th Feb 2021</li>
													<li><a href="#"><i class="uil uil-user"></i> admin</a></li>
													<li><i class="uil uil-folder-open"></i> <a href="#">Gallery</a>, <a href="#">Media</a></li>
													<li><a href="#"><i class="uil uil-comments-alt"></i> 21</a></li>
													<li><a href="#"><i class="uil uil-images"></i></a></li>
												</ul>
											</div>
											<div class="entry-content">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur voluptate rerum molestiae eaque possimus exercitationem eligendi fuga. Maiores.</p>
												<a href="#" class="button button-border button-rounded">Read More</a>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-12">
									<div class="grid-inner row g-0">
										<div class="col-12">
											<div class="entry-image">
												<blockquote>
													<p>"When you are courting a nice girl an hour seems like a second. When you sit on a red-hot cinder a second seems like an hour. That's relativity."</p>
													<footer>Albert Einstein</footer>
												</blockquote>
											</div>
											<div class="entry-meta">
												<ul>
													<li><i class="uil uil-schedule"></i> 3rd Mar 2021</li>
													<li><a href="#"><i class="uil uil-user"></i> admin</a></li>
													<li><i class="uil uil-folder-open"></i> <a href="#">Quotes</a>, <a href="#">People</a></li>
													<li><a href="#"><i class="uil uil-comments-alt"></i> 23</a></li>
													<li><a href="#"><i class="bi-quote"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-12">
									<div class="grid-inner row g-0">
										<div class="col-md-4">
											<div class="entry-image">
												<div class="masonry-thumbs grid-container row row-cols-3" data-big="3" data-lightbox="gallery">
													<a class="grid-item" href="demos/construction/images/gallery/2.jpg" data-lightbox="gallery-item"><img src="demos/construction/images/gallery/thumbs/2.jpg" alt="Image"></a>
													<a class="grid-item" href="demos/construction/images/gallery/3.jpg" data-lightbox="gallery-item"><img src="demos/construction/images/gallery/thumbs/3.jpg" alt="Image"></a>
													<a class="grid-item" href="demos/construction/images/gallery/6.jpg" data-lightbox="gallery-item"><img src="demos/construction/images/gallery/thumbs/6.jpg" alt="Image"></a>
													<a class="grid-item" href="demos/construction/images/gallery/7.jpg" data-lightbox="gallery-item"><img src="demos/construction/images/gallery/thumbs/7.jpg" alt="Image"></a>
													<a class="grid-item" href="demos/construction/images/gallery/8.jpg" data-lightbox="gallery-item"><img src="demos/construction/images/gallery/thumbs/8.jpg" alt="Image"></a>
													<a class="grid-item" href="demos/construction/images/gallery/9.jpg" data-lightbox="gallery-item"><img src="demos/construction/images/gallery/thumbs/9.jpg" alt="Image"></a>
													<a class="grid-item" href="demos/construction/images/gallery/10.jpg" data-lightbox="gallery-item"><img src="demos/construction/images/gallery/thumbs/10.jpg" alt="Image"></a>
													<a class="grid-item" href="demos/construction/images/gallery/11.jpg" data-lightbox="gallery-item"><img src="demos/construction/images/gallery/thumbs/11.jpg" alt="Image"></a>
													<a class="grid-item" href="demos/construction/images/gallery/4.jpg" data-lightbox="gallery-item"><img src="demos/construction/images/gallery/thumbs/4.jpg" alt="Image"></a>
												</div>
											</div>
										</div>
										<div class="col-md-8 ps-md-4">
											<div class="entry-title title-sm">
												<h2><a href="#">This is a Standard post with Masonry Thumbs Gallery</a></h2>
											</div>
											<div class="entry-meta">
												<ul>
													<li><i class="uil uil-schedule"></i> 3rd Mar 2021</li>
													<li><a href="#"><i class="uil uil-user"></i> admin</a></li>
													<li><i class="uil uil-folder-open"></i> <a href="#">Gallery</a>, <a href="#">Media</a></li>
													<li><a href="#"><i class="uil uil-comments-alt"></i> 21</a></li>
													<li><a href="#"><i class="uil uil-images"></i></a></li>
												</ul>
											</div>
											<div class="entry-content">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur voluptate rerum molestiae eaque possimus exercitationem eligendi fuga.</p>
												<a href="#" class="button button-border button-rounded">Read More</a>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-12">
									<div class="grid-inner row g-0">
										<div class="col-12">
											<div class="entry-image">
												<a href="https://themeforest.net" class="entry-link" target="_blank">
													Themeforest.net
													<span>- https://themeforest.net</span>
												</a>
											</div>
											<div class="entry-meta">
												<ul>
													<li><i class="uil uil-schedule"></i> 17th Mar 2021</li>
													<li><a href="#"><i class="uil uil-user"></i> admin</a></li>
													<li><i class="uil uil-folder-open"></i> <a href="#">Links</a>, <a href="#">Suggestions</a></li>
													<li><a href="#"><i class="uil uil-comments-alt"></i> 26</a></li>
													<li><a href="#"><i class="uil uil-link"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-12">
									<div class="grid-inner row g-0">
										<div class="col-12">
											<div class="entry-image">
												<div class="card">
													<div class="card-body">
														Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, fuga optio voluptatibus saepe tenetur aliquam debitis eos accusantium! Vitae, hic, atque aliquid repellendus accusantium laudantium minus eaque quibusdam ratione sapiente.
													</div>
												</div>
											</div>
											<div class="entry-meta">
												<ul>
													<li><i class="uil uil-schedule"></i> 21st Mar 2021</li>
													<li><a href="#"><i class="uil uil-user"></i> admin</a></li>
													<li><i class="uil uil-folder-open"></i> <a href="#">Status</a>, <a href="#">News</a></li>
													<li><a href="#"><i class="uil uil-comments-alt"></i> 11</a></li>
													<li><a href="#"><i class="uil uil-align-justify"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="entry col-12">
									<div class="grid-inner row g-0">
										<div class="col-md-4">
											<a class="entry-image" href="demos/construction/images/projects/7.jpg" data-lightbox="image"><img src="demos/construction/images/projects/7.jpg" alt="Standard Post with Image"></a>
										</div>
										<div class="col-md-8 ps-md-4">
											<div class="entry-title title-sm">
												<h2><a href="#">This is an Embedded Audio Post</a></h2>
											</div>
											<div class="entry-meta">
												<ul>
													<li><i class="uil uil-schedule"></i> 28th Apr 2021</li>
													<li><a href="#"><i class="uil uil-user"></i> admin</a></li>
													<li><i class="uil uil-folder-open"></i> <a href="#">Audio</a>, <a href="#">General</a></li>
													<li><a href="#"><i class="uil uil-comments-alt"></i> 16</a></li>
													<li><a href="#"><i class="uil uil-music"></i></a></li>
												</ul>
											</div>
											<div class="entry-content">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur voluptate rerum molestiae eaque possimus exercitationem eligendi fuga.</p>
												<a href="#" class="button button-border button-rounded">Read More</a>
											</div>
										</div>
									</div>
								</div>

							</div><!-- #posts end -->

							<!-- Pagination
							============================================= -->
							<div class="d-flex justify-content-between mb-3">
								<a href="#" class="btn btn-outline-secondary">&larr; Older</a>
								<a href="#" class="btn btn-outline-dark">Newer &rarr;</a>
							</div>
							<!-- .pager end -->

						</main><!-- .postcontent end -->

						<!-- Sidebar
						============================================= -->
						<aside class="sidebar col-lg-3">
							<div class="sidebar-widgets-wrap">

								<div class="widget widget-twitter-feed">

									<h4>Twitter Feed</h4>
									<ul class="iconlist twitter-feed" data-username="envato" data-count="2"></ul>

									<div class="d-flex justify-content-end">
										<a href="#" class="btn btn-secondary btn-sm">Follow Us on Twitter</a>
									</div>

								</div>

								<div class="widget">

									<h4>Flickr Photostream</h4>
									<div id="flickr-widget" class="flickr-feed masonry-thumbs grid-container row row-cols-4 customjs" data-id="613394@N22" data-count="16" data-type="group" data-lightbox="gallery"></div>

								</div>

								<div class="widget">

									<ul class="nav canvas-tabs tabs nav-tabs size-sm mb-3" id="canvas-tab" role="tablist">
										<li class="nav-item" role="presentation">
											<button class="nav-link active" id="canvas-tab-1" data-bs-toggle="pill" data-bs-target="#tab-1"
												type="button" role="tab" aria-controls="canvas-tab-1" aria-selected="true">Popular</button>
										</li>
										<li class="nav-item" role="presentation">
											<button class="nav-link" id="canvas-tab-2" data-bs-toggle="pill" data-bs-target="#tab-2" type="button"
												role="tab" aria-controls="canvas-tab-2" aria-selected="false">Recents</button>
										</li>
										<li class="nav-item" role="presentation">
											<button class="nav-link uil uil-comments-alt" id="canvas-tab-3" data-bs-toggle="pill" data-bs-target="#tab-3"
												type="button" role="tab" aria-controls="canvas-tab-3" aria-selected="false"></button>
										</li>
									</ul>

									<div id="canvas-TabContent" class="tab-content">

										<div class="tab-pane show active" id="tab-1" role="tabpanel" aria-labelledby="canvas-tab-1" tabindex="0">
											<div class="posts-sm row col-mb-30" id="popular-post-list-sidebar">
												<div class="entry col-12">
													<div class="grid-inner row g-0">
														<div class="col-auto">
															<div class="entry-image">
																<a href="#"><img class="rounded-circle" src="images/magazine/small/3.jpg"
																		alt="Image"></a>
															</div>
														</div>
														<div class="col ps-3">
															<div class="entry-title">
																<h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
															</div>
															<div class="entry-meta">
																<ul>
																	<li><i class="uil uil-comments-alt"></i> 35 Comments</li>
																</ul>
															</div>
														</div>
													</div>
												</div>

												<div class="entry col-12">
													<div class="grid-inner row g-0">
														<div class="col-auto">
															<div class="entry-image">
																<a href="#"><img class="rounded-circle" src="images/magazine/small/2.jpg"
																		alt="Image"></a>
															</div>
														</div>
														<div class="col ps-3">
															<div class="entry-title">
																<h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
															</div>
															<div class="entry-meta">
																<ul>
																	<li><i class="uil uil-comments-alt"></i> 24 Comments</li>
																</ul>
															</div>
														</div>
													</div>
												</div>

												<div class="entry col-12">
													<div class="grid-inner row g-0">
														<div class="col-auto">
															<div class="entry-image">
																<a href="#"><img class="rounded-circle" src="images/magazine/small/1.jpg"
																		alt="Image"></a>
															</div>
														</div>
														<div class="col ps-3">
															<div class="entry-title">
																<h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
															</div>
															<div class="entry-meta">
																<ul>
																	<li><i class="uil uil-comments-alt"></i> 19 Comments</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane" id="tab-2" role="tabpanel" aria-labelledby="canvas-tab-2" tabindex="0">
											<div class="posts-sm row col-mb-30" id="recent-post-list-sidebar">
												<div class="entry col-12">
													<div class="grid-inner row g-0">
														<div class="col-auto">
															<div class="entry-image">
																<a href="#"><img class="rounded-circle" src="images/magazine/small/1.jpg"
																		alt="Image"></a>
															</div>
														</div>
														<div class="col ps-3">
															<div class="entry-title">
																<h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
															</div>
															<div class="entry-meta">
																<ul>
																	<li>10th July 2021</li>
																</ul>
															</div>
														</div>
													</div>
												</div>

												<div class="entry col-12">
													<div class="grid-inner row g-0">
														<div class="col-auto">
															<div class="entry-image">
																<a href="#"><img class="rounded-circle" src="images/magazine/small/2.jpg"
																		alt="Image"></a>
															</div>
														</div>
														<div class="col ps-3">
															<div class="entry-title">
																<h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
															</div>
															<div class="entry-meta">
																<ul>
																	<li>10th July 2021</li>
																</ul>
															</div>
														</div>
													</div>
												</div>

												<div class="entry col-12">
													<div class="grid-inner row g-0">
														<div class="col-auto">
															<div class="entry-image">
																<a href="#"><img class="rounded-circle" src="images/magazine/small/3.jpg"
																		alt="Image"></a>
															</div>
														</div>
														<div class="col ps-3">
															<div class="entry-title">
																<h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
															</div>
															<div class="entry-meta">
																<ul>
																	<li>10th July 2021</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane" id="tab-3" role="tabpanel" aria-labelledby="canvas-tab-3" tabindex="0">
											<div class="posts-sm row col-mb-30" id="recent-comments-list-sidebar">
												<div class="entry col-12">
													<div class="grid-inner row g-0">
														<div class="col-auto">
															<div class="entry-image">
																<a href="#"><img class="rounded-circle" src="images/icons/avatar.jpg"
																		alt="User Avatar"></a>
															</div>
														</div>
														<div class="col ps-3">
															<strong>John Doe:</strong> Veritatis recusandae sunt repellat distinctio...
														</div>
													</div>
												</div>

												<div class="entry col-12">
													<div class="grid-inner row g-0">
														<div class="col-auto">
															<div class="entry-image">
																<a href="#"><img class="rounded-circle" src="images/icons/avatar.jpg"
																		alt="User Avatar"></a>
															</div>
														</div>
														<div class="col ps-3">
															<strong>Mary Jane:</strong> Possimus libero, earum officia architecto maiores....
														</div>
													</div>
												</div>

												<div class="entry col-12">
													<div class="grid-inner row g-0">
														<div class="col-auto">
															<div class="entry-image">
																<a href="#"><img class="rounded-circle" src="images/icons/avatar.jpg"
																		alt="User Avatar"></a>
															</div>
														</div>
														<div class="col ps-3">
															<strong>Site Admin:</strong> Deleniti magni labore laboriosam odio...
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>

								</div>

								<div class="widget">

									<h4>Portfolio Carousel</h4>
									<div id="oc-portfolio-sidebar" class="owl-carousel carousel-widget" data-items="1" data-margin="10" data-loop="true" data-nav="false" data-autoplay="5000">

										<div class="portfolio-item">
											<div class="portfolio-image">
												<a href="#">
													<img src="demos/construction/images/projects/3.jpg" alt="Image">
												</a>
												<div class="bg-overlay">
													<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
														<a href="https://vimeo.com/89396394" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="zoomIn" data-hover-speed="350" data-lightbox="iframe"><i class="uil uil-play"></i></a>
													</div>
													<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="350"></div>
												</div>
											</div>
											<div class="portfolio-desc text-center pb-0">
												<h3><a href="#">Wavelength Structure</a></h3>
												<span><a href="#">Madrid, Spain</a></span>
											</div>
										</div>

										<div class="portfolio-item">
											<div class="portfolio-image">
												<a href="portfolio-single.html">
													<img src="demos/construction/images/projects/1.jpg" alt="Image">
												</a>
												<div class="bg-overlay">
													<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="350">
														<a href="images/blog/full/1.jpg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="zoomIn" data-hover-speed="350" data-lightbox="image"><i class="uil uil-plus"></i></a>
													</div>
													<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="350"></div>
												</div>
											</div>
											<div class="portfolio-desc text-center pb-0">
												<h3><a href="portfolio-single.html">Corporate Headquarters</a></h3>
												<span><a href="#">California, USA</a></span>
											</div>
										</div>

									</div>


								</div>

								<div class="widget">

									<h4>Tag Cloud</h4>
									<div class="tagcloud">
										<a href="#">general</a>
										<a href="#">Contract</a>
										<a href="#">Construction</a>
										<a href="#">Workers</a>
										<a href="#">Building</a>
										<a href="#">Site</a>
										<a href="#">Investors</a>
										<a href="#">Projects</a>
										<a href="#">coupons</a>
										<a href="#">modern</a>
										<a href="#">videos</a>
										<a href="#">music</a>
										<a href="#">media</a>
										<a href="#">photography</a>
										<a href="#">parallax</a>
										<a href="#">ecommerce</a>
										<a href="#">terms</a>
									</div>

								</div>

							</div>
						</aside><!-- .sidebar end -->
					</div>

				</div>
			</div>
		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">
			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap">

					<div class="row">
						<div class="col-lg-9">

							<div class="widget">

								<img src="images/footer-widget-logo.png" alt="Image" class="alignleft" style="margin-top: 8px; padding-right: 18px; border-right: 1px solid #4A4A4A;">

								<p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards with a Retina &amp; Responsive Approach. Browse the amazing Features this template offers.</p>

								<div class="line" style="margin: 30px 0;"></div>

								<div class="row col-mb-30">

									<div class="col-lg-3 col-6 widget_links">
										<ul>
											<li><a href="#">Home</a></li>
											<li><a href="#">About</a></li>
											<li><a href="#">FAQs</a></li>
											<li><a href="#">Support</a></li>
											<li><a href="#">Contact</a></li>
										</ul>
									</div>

									<div class="col-lg-3 col-6 widget_links">
										<ul>
											<li><a href="#">Shop</a></li>
											<li><a href="#">Portfolio</a></li>
											<li><a href="#">Blog</a></li>
											<li><a href="#">Events</a></li>
											<li><a href="#">Forums</a></li>
										</ul>
									</div>

									<div class="col-lg-3 col-6 widget_links">
										<ul>
											<li><a href="#">Corporate</a></li>
											<li><a href="#">Agency</a></li>
											<li><a href="#">eCommerce</a></li>
											<li><a href="#">Personal</a></li>
											<li><a href="#">One Page</a></li>
										</ul>
									</div>

									<div class="col-lg-3 col-6 widget_links">
										<ul>
											<li><a href="#">Restaurant</a></li>
											<li><a href="#">Wedding</a></li>
											<li><a href="#">App Showcase</a></li>
											<li><a href="#">Magazine</a></li>
											<li><a href="#">Landing Page</a></li>
										</ul>
									</div>

								</div>

							</div>

						</div>

						<div class="col-lg-3 mt-5 mt-lg-0">

							<div class="widget">

								<div class="row col-mb-30">

									<div class="col-12">
										<div class="footer-big-contacts">
											<span>Call Us:</span>
											(1) 22 55412474
										</div>
									</div>

									<div class="col-12">
										<div class="footer-big-contacts">
											<span>Send an Email:</span>
											info@canvas.com
										</div>
									</div>

								</div>

							</div>

							<div class="widget subscribe-widget">

								<div class="row col-mb-30">
									<div class="col-12 col-sm-6">
										<a href="#" class="social-icon bg-dark h-bg-facebook mb-0 me-3">
											<i class="fa-brands fa-facebook-f"></i>
											<i class="fa-brands fa-facebook-f"></i>
										</a>
										<a href="#"><small class="d-block"><strong>Like us</strong><br>on Facebook</small></a>
									</div>
									<div class="col-12 col-sm-6">
										<a href="#" class="social-icon bg-dark h-bg-rss mb-0 me-3">
											<i class="fa-solid fa-rss"></i>
											<i class="fa-solid fa-rss"></i>
										</a>
										<a href="#"><small class="d-block"><strong>Subscribe</strong><br>to RSS Feeds</small></a>
									</div>
								</div>

							</div>

						</div>
					</div>

				</div><!-- .footer-widgets-wrap end -->
			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">
				<div class="container">

					<div class="row justify-content-between col-mb-30">
						<div class="col-12 col-md-auto text-center text-md-start">
							Copyrights &copy; 2023 All Rights Reserved by Canvas Inc.<br>
							<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
						</div>

						<div class="col-12 col-md-auto text-center text-md-end">
							<div class="copyrights-menu copyright-links">
								<a href="#">Home</a>/<a href="#">About Us</a>/<a href="#">Team</a>/<a href="#">Clients</a>/<a href="#">FAQs</a>/<a href="#">Contact</a>
							</div>
						</div>
					</div>

				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="uil uil-angle-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="js/functions.js"></script>

</body>
</html>