{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 


    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
  
    <script src="{% static 'jquery.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'homepage/bootstrap/css/bootstrap.min.css' %}">
    
   <title>predico</title>
   
   <!-- EXTRAS START -->
   <!-- Font Imports -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">

	<!-- Core Style -->
	<link rel="stylesheet" href="{% static 'extras/style.css' %}">

	<!-- Font Icons -->
	<link rel="stylesheet" href="{% static 'extras/css/font-icons.css' %}">

	<!-- Plugins/Components CSS -->
	<link rel="stylesheet" href="{% static 'extras/css/swiper.css' %}">

	<!-- Niche Demos -->
	<link rel="stylesheet" href="{% static 'extras/demos/construction/construction.css' %}">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'extras/css/custom.css' %}">
  <!-- EXTRAS END -->


   <link rel="stylesheet" href="{% static 'homepage/bootstrap/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'homepage/css.css' %}">
    
    {% block head %}



    {% endblock %}


   
  
  </head>


  <body class="stretched">
<!-- Top Bar
		============================================= -->
		<div id="top-bar">
			<div class="container">

				<div class="row justify-content-between">
					<div class="col-12 col-md-auto">

						<!-- Top Social
						============================================= -->
						<ul id="top-social">
							<li><a href="#" class="h-bg-facebook"><span class="ts-icon"><i class="fa-brands fa-facebook-f"></i></span><span class="ts-text">Facebook</span></a></li>
							<li><a href="#" class="h-bg-twitter"><span class="ts-icon"><i class="fa-brands fa-twitter"></i></span><span class="ts-text">Twitter</span></a></li>
							<li><a href="#" class="h-bg-dribbble"><span class="ts-icon"><i class="fa-brands fa-dribbble"></i></span><span class="ts-text">Dribbble</span></a></li>
							<li><a href="#" class="h-bg-github"><span class="ts-icon"><i class="fa-brands fa-github"></i></span><span class="ts-text">Github</span></a></li>
							<li><a href="#" class="h-bg-pinterest"><span class="ts-icon"><i class="fa-brands fa-pinterest-p"></i></span><span class="ts-text">Pinterest</span></a></li>
							<li><a href="#" class="h-bg-instagram"><span class="ts-icon"><i class="fa-brands fa-instagram"></i></span><span class="ts-text">Instagram</span></a></li>
						</ul><!-- #top-social end -->

					</div>

					<div class="col-12 col-md-auto">

						<!-- Top Links
						============================================= -->
						<div class="top-links">
							<ul class="top-links-container">
								<li class="top-links-item"><a href="#">English (US)</a>
									<ul class="top-links-sub-menu">
			  							<li class="top-links-item"><a href="#">Afrikaans</a></li>
										<li class="top-links-item"><a href="#">IsiZulu</a></li>
										<li class="top-links-item"><a href="#">Southern Sotho</a></li>
									</ul>
								</li>
								<li class="top-links-item"><a href="faqs.html">FAQs</a></li>
								<li class="top-links-item"><a href="contact.html">Contact</a></li>
							</ul>
						</div><!-- .top-links end -->

					</div>
				</div>

			</div>
		</div><!-- #top-bar end -->


    	<!-- Header
		============================================= -->
		<header id="header" class="header-size-sm" data-sticky-shrink="false">
			<div class="container">
				<div class="header-row">

					<!-- Logo
					============================================= -->
					<div id="logo" class="ms-auto ms-lg-0 me-lg-auto">
						<a href="demo-construction.html">
              <ul class ="list-unstyled ">
                <li><img class ="default-logo" src="{% static 'extras/demos/construction/images/logo.png' %}" width="30%" height="30%" float="left" alt="Canvas Logo">	 </li>
                <li><p img class ="default-logo">HealthConnect</p></li>
               
              </ul>
						</a>
					</div><!-- #logo end -->

					<div class="header-misc d-none d-lg-flex">

						<ul class="header-extras">
							<li>
								<i class="i-plain bi-telephone m-0"></i>
								<div class="he-text">
									Call Us
									<span>(+27) 011 542 9821</span>
								</div>
							</li>
							<li>
								<i class="i-plain bi-envelope m-0"></i>
								<div class="he-text">
									Email Us
									<span>info@healthconnect.com</span>
								</div>
							</li>
							<li>
								<i class="i-plain bi-clock m-0"></i>
								<div class="he-text">
									We'are Open
									<span>24/7</span>
								</div>
							</li>
						</ul>

					</div>

				</div>
			</div>

			<div id="header-wrap">
				<div class="container">
					<div class="header-row justify-content-between flex-row-reverse flex-lg-row justify-content-lg-center">

						<div class="header-misc">

							<!-- Top Search
							============================================= -->
							<div id="top-search" class="header-misc-icon">
								<a href="#" id="top-search-trigger"><i class="uil uil-search"></i><i class="bi-x-lg"></i></a>
							</div><!-- #top-search end -->

						</div>

						<div class="primary-menu-trigger">
							<button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
								<span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
							</button>
						</div>

						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu with-arrows">

							<ul class="menu-container">
								<li class="menu-item current"><a class="menu-link" href="{% url 'home' %}"><div>Home</div></a></li>
								<li class="menu-item"><a class="menu-link" href="{% url 'home' %}"><div>What we do</div></a>
									<ul class="sub-menu-container">
										<li class="menu-item"><a class="menu-link" href="{% url 'home' %}"><div>Professional Medical insights</div></a></li>
										<li class="menu-item"><a class="menu-link" href="{% url 'home' %}"><div>View Posts</div></a></li>
										<li class="menu-item"><a class="menu-link" href="{% url 'home' %}"><div>Blogs</div></a></li>
										<li class="menu-item"><a class="menu-link" href="{% url 'home' %}"><div>Schedule Video Consultation</div></a></li>
					
									</ul>
								</li>
								<li class="menu-item"><a class="menu-link" href="{% url 'home' %}"><div>About Us</div></a></li>
								<li class="menu-item"><a class="menu-link nav-item ml-"  data-toggle="modal" data-target=".bd-example-modal-lg"><div>Sign in</div></a></li>
								<li class="menu-item"><a class="menu-link nav-item ml-2"  data-toggle="modal" data-target=".bd-example-modal-lg2"><div>Register</div></a></li>

							</ul>

						</nav><!-- #primary-menu end -->

						<form class="top-search-form" action="search.html" method="get">
							<input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter.." autocomplete="off">
						</form>

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->


      <div class="container-fluid">

          <div class="page-header mt-1 mb-1 ml-1 ">
         <!--<h1>HealthConnect</h1> -->   
       
        </div>
      
      
          <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: whitesmoke;">
              <a class="navbar-brand" href="{% url 'home' %}">He24 </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'home' %}">Home</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'home' %}">About</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'home' %}">Contact</a>
                      </li>
                      
      
      
                    {% if user.is_authenticated %}
                      
                      {% if user.patient %}
      
                      <li class="nav-item ml-2">
                      <li class="nav-link" href="{% url 'patient_ui' %}" style="color: rgb(91, 252, 50);">Hello, {{user.patient.name}}</li>
                      </li>
                      <li class="nav-item ml-2">
                          <a class="nav-link" href="{% url 'patient_ui' %}">Profile</a>
                          </li>
      
                      {% endif %}
                      
                      {% if user.doctor  %}
      
                      <li class="nav-item ml-2">
                        <li class="nav-link" href="{% url 'doctor_ui' %}" style="color: rgb(91, 252, 50);">Hello, Dr. {{user.doctor.name}}</li>
                        </li>
                        <li class="nav-item ml-2">
                            <a class="nav-link" href="{% url 'doctor_ui' %}">Profile</a>
                            </li>
      
      
                      {% endif %}

                      {% if user.is_superuser  %}
      
                      <li class="nav-item ml-2">
                        <li class="nav-link" href="{% url 'admin_ui' %}" style="color: rgb(91, 252, 50);">Admin: {{user.username}}</li>
                        </li>
                        <li class="nav-item ml-2">
                            <a class="nav-link" href="{% url 'admin_ui' %}">Profile</a>
                            </li>
      
      
                      {% endif %}
      
                      <li class="nav-item ml-2">
      <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#logout-modal" style="color: rgb(247, 190, 188);">Log out</button>
                        
                      </li>
      
      
      
      
                      <!-- Small modal -->
					
					<div class="modal fade" id="logout-modal" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div class="modal-header"><h4>Logout <i class="fa fa-lock"></i></h4></div>
							<div class="modal-body"><i class="fa fa-question-circle"></i><span style="color: rgb(42, 187, 6);">{{user.patient.name}}</span>, Are you sure you want to logout?</div>
							<div class="modal-footer"><a href="{% url 'logout' %}" class="btn btn-primary btn-block">Logout</a></div>
						</div>
						</div>
					</div>
                      
                      {% else %}
                      
                      <li class="nav-item ml-2">
                          <a class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg2">Signup</a>
                      </li>
                      <li class="nav-item ml-">
                          <a class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg">Signin</a>
                      </li>
                      
                      {% endif %}
      
                  </ul>
              </div>
          </nav>
      



    
<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
     
  <center>
    <h1>Sign-In  As</h1>
    </center>
  <br><br>
  
  <center>
  <form>
      <div class="container mt-5 mb-5">
   <div class="row">
      <div class="col">
         <a href="{% url 'sign_in_admin' %}">
  <img  alt="admin" src="{% static 'homepage/admin.png' %}"  class="img">
  </a>
      </div>
  
      <div class="col">
  <a href="{% url 'sign_in_doctor' %}">
  <img  alt="doctor" src="{% static 'homepage/doctor.png' %}"  class="img">
  </a>
      </div>
  
      <div class="col">
  <a href="{% url 'sign_in_patient' %}">
  <img  alt="patient" src="{% static 'homepage/patient.png' %}"  class="img">
  </a>
      </div>
    </div>
    </div>
  </form>
  </center>
  
      </div>
    </div>
  </div>



  {% block body %}

  {% endblock %}




</div>



   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   
    <script src="https://code.jquery.com/jquery-3.4.1.js"integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <!-- Go To Top (EXTRAS)
    ============================================= -->
    <div id="gotoTop" class="uil uil-angle-up"></div>

    <!-- JavaScripts
    ============================================= -->
    <script src="{% static 'extras/js/functions.js' %}"></script>


</body>
</html>