{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 


    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
  
    <script src="{% static 'jquery.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'homepage/bootstrap/css/bootstrap.min.css' %}">
    
   <title>predico</title>
   
   <!-- EXTRAS START -->
   <!-- Font Imports -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">

	<!-- Core Style -->
	<link rel="stylesheet" href="{% static 'extras/style.css' %}">

	<!-- Font Icons -->
	<link rel="stylesheet" href="{% static 'extras/css/font-icons.css' %}">

	<!-- Plugins/Components CSS -->
	<link rel="stylesheet" href="{% static 'extras/css/swiper.css' %}">

	<!-- Niche Demos -->
	<link rel="stylesheet" href="{% static 'extras/demos/construction/construction.css' %}">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'extras/css/custom.css' %}">
  <!-- EXTRAS END -->


   <link rel="stylesheet" href="{% static 'homepage/bootstrap/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'homepage/css.css' %}">
    
    {% block head %}



    {% endblock %}


    <style>
      .swiper-slide-bg{
        background-image: url("{% static 'extras/demos/construction/images/hero.jpg' %}"); 
        background-position: center bottom;
      

      }
    </style>
  
  </head>


  <body class="stretched">
<!-- Top Bar
		============================================= -->
		<div id="top-bar">
			<div class="container">

				<div class="row justify-content-between">
					<div class="col-12 col-md-auto">

						<!-- Top Social
						============================================= -->
						<ul id="top-social">
							<li><a href="#" class="h-bg-facebook"><span class="ts-icon"><i class="fa-brands fa-facebook-f"></i></span><span class="ts-text">Facebook</span></a></li>
							<li><a href="#" class="h-bg-twitter"><span class="ts-icon"><i class="fa-brands fa-twitter"></i></span><span class="ts-text">Twitter</span></a></li>
							<li><a href="#" class="h-bg-dribbble"><span class="ts-icon"><i class="fa-brands fa-dribbble"></i></span><span class="ts-text">Dribbble</span></a></li>
							<li><a href="#" class="h-bg-github"><span class="ts-icon"><i class="fa-brands fa-github"></i></span><span class="ts-text">Github</span></a></li>
							<li><a href="#" class="h-bg-pinterest"><span class="ts-icon"><i class="fa-brands fa-pinterest-p"></i></span><span class="ts-text">Pinterest</span></a></li>
							<li><a href="#" class="h-bg-instagram"><span class="ts-icon"><i class="fa-brands fa-instagram"></i></span><span class="ts-text">Instagram</span></a></li>
						</ul><!-- #top-social end -->

					</div>

					<div class="col-12 col-md-auto">

						<!-- Top Links
						============================================= -->
						<div class="top-links">
							<ul class="top-links-container">
								<li class="top-links-item"><a href="#">English (US)</a>
									<ul class="top-links-sub-menu">
			  							<li class="top-links-item"><a href="#">Afrikaans</a></li>
										<li class="top-links-item"><a href="#">IsiZulu</a></li>
										<li class="top-links-item"><a href="#">Southern Sotho</a></li>
									</ul>
								</li>
								<li class="top-links-item"><a href="faqs.html">FAQs</a></li>
								<li class="top-links-item"><a href="contact.html">Contact</a></li>
							</ul>
						</div><!-- .top-links end -->

					</div>
				</div>

			</div>
		</div><!-- #top-bar end -->


    	<!-- Header
		============================================= -->
		<header id="header" class="header-size-sm" data-sticky-shrink="false">
			<div class="container">
				<div class="header-row">

					<!-- Logo
					============================================= -->
					<div id="logo" class="ms-auto ms-lg-0 me-lg-auto">
						<a href="demo-construction.html">
              <ul class ="list-unstyled ">
                <li><img class ="default-logo" src="{% static 'extras/demos/construction/images/logo.png' %}" width="30%" height="30%" float="left" alt="Canvas Logo">	 </li>
                <li><p img class ="default-logo">HealthConnect</p></li>
               
              </ul>
						</a>
					</div><!-- #logo end -->

					<div class="header-misc d-none d-lg-flex">

						<ul class="header-extras">
							<li>
								<i class="i-plain bi-telephone m-0"></i>
								<div class="he-text">
									Call Us
									<span>(1) 22 54215821</span>
								</div>
							</li>
							<li>
								<i class="i-plain bi-envelope m-0"></i>
								<div class="he-text">
									Email Us
									<span>info@healthconnect.com</span>
								</div>
							</li>
							<li>
								<i class="i-plain bi-clock m-0"></i>
								<div class="he-text">
									We'are Open
									<span>Mon - Mon, 00AM to 00PM</span>
								</div>
							</li>
						</ul>

					</div>

				</div>
			</div>

			<div id="header-wrap">
				<div class="container">
					<div class="header-row justify-content-between flex-row-reverse flex-lg-row justify-content-lg-center">

						<div class="header-misc">

							<!-- Top Search
							============================================= -->
							<div id="top-search" class="header-misc-icon">
								<a href="#" id="top-search-trigger"><i class="uil uil-search"></i><i class="bi-x-lg"></i></a>
							</div><!-- #top-search end -->

						</div>

						<div class="primary-menu-trigger">
							<button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
								<span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
							</button>
						</div>

						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu with-arrows">

							<ul class="menu-container">
								<li class="menu-item current"><a class="menu-link" href="demo-construction.html"><div>Home</div></a></li>
								<li class="menu-item"><a class="menu-link" href="demo-construction-services.html"><div>What we do</div></a>
									<ul class="sub-menu-container">
										<li class="menu-item"><a class="menu-link" href="#"><div>Professional Medical insights</div></a></li>
										<li class="menu-item"><a class="menu-link" href="{% url 'posts' %}"><div>View Posts</div></a></li>
										<li class="menu-item"><a class="menu-link" href="#"><div>Blogs</div></a></li>
										<li class="menu-item"><a class="menu-link" href="#"><div>Schedule Video Consultation</div></a></li>
					
									</ul>
								</li>
								<li class="menu-item"><a class="menu-link" href="demo-construction-about-us.html"><div>About Us</div></a></li>
							
							</ul>

						</nav><!-- #primary-menu end -->

						<form class="top-search-form" action="search.html" method="get">
							<input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter.." autocomplete="off">
						</form>

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->


    <section id="slider" class="slider-element slider-parallax swiper_wrapper min-vh-75" data-loop="true">

			<div class="swiper-container swiper-parent">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="container">
							<div class="slider-caption">
								<div>
									<h2>Welcome to HealthConnect</h2>
									<p class="d-none d-sm-block">Our platform provides a direct channel for
										patients to engage with healthcare professionals.
										Users can seek advice,  &amp;share concerns, and receive
										timely responses from doctors. </p>
								</div>
							</div>
						</div>
						<div class="swiper-slide-bg" ></div>
					</div>
					
				</div>
				
			</div>

		</section>
    <!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">

				<div class="promo promo-light promo-full promo-uppercase p-5 mb-6 header-stick">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-12 col-lg">
								<h3 style="letter-spacing: 2px;">Start Interacting for your health with verified doctors</h3>
								<span>We have created a platform of inclusivity with health information at your fingertips</span>
							</div>
							<div class="col-12 col-lg-auto mt-4 mt-lg-0">
								<a href="#" class="button button-large button-circle button-black m-0">Start Now</a>
							</div>
						</div>
					</div>
				</div>

				<div class="container">

					<div class="row justify-content-center col-mb-50">
						<div class="col-sm-6 col-lg-4">
							<div class="feature-box media-box">
								<div class="fbox-media">
									<img class="rounded" src="{% static 'extras/demos/construction/images/doc1.jpg' %}" alt="Why choose Us?">
								</div>
								<div class="fbox-content px-0">
									<h3>Dr.Nell Atkinson(Cardiothoracic Surgeon)<span class="subtitle">Precision in Practice: Mastering Surgical Skills</span></h3>
									<p>Join us as we explore the world of skilled medical professionals in our latest blog. Discover the artistry behind surgical precision as doctors share their insights into the techniques and expertise that ensure your health is in good hands. From intricate procedures to delicate maneuvers, learn how these medical artisans excel in their craft, leaving no room for error.</p>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-lg-4">
							<div class="feature-box media-box">
								<div class="fbox-media">
									<img class="rounded" src="{% static 'extras/demos/construction/images/doc2.jpg' %}" alt="Effective Planning">
								</div>
								<div class="fbox-content px-0">
									<h3>Dr Michell Brown(Medical doctor)<span class="subtitle">Healing Harmonies: The Symphony of Effective Patient Care</span></h3>
									<p>Take a deep dive into the orchestration of effective patient care with our insightful blog. Medical doctors provide a behind-the-scenes look at how they organize and plan each aspect of patient treatment. From diagnosis to recovery, explore how meticulous planning and coordination contribute to a harmonious and successful healthcare journey.</p>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-lg-4">
							<div class="feature-box media-box">
								<div class="fbox-media">
									<img class="rounded" src="{% static 'extras/demos/construction/images/doc3.jpg' %}" alt="Why choose Us?">
								</div>
								<div class="fbox-content px-0">
									<h3>Dr. Angel Lizberg(Dentist)<span class="subtitle">Preserving Well-being: A Prescription for Effective Risk Management</span></h3>
									<p>In our latest blog, we address the crucial role of risk management in the field of medicine. Join medical doctors as they assure you that they've got you covered when it comes to your health. Explore the strategies and measures employed to manage and mitigate risks, ensuring a safe and secure healthcare experience for every patient.</p>
								</div>
							</div>
						</div>
					</div>

				</div>
      </section>
	 
      <div class="section parallax light" style="padding: 120px 0;">
		<img src="demos/construction/images/slider/1.jpg" class="parallax-bg">

		<div class="fslider" data-arrows="false" style="z-index: 2;">
			<div class="owl-carousel carousel-widget text-center mw-xs mx-auto dark" data-items="1" data-autoplay="5000" data-nav="false">
				<div class="row">
					<div class="col-12">
						<img class="rounded-circle mx-auto w-auto mb-4" src="images/testimonials/1.jpg" width="64" height="64" alt="Customer Testimonails">
						<h3 class="mb-4 lh-base fw-normal font-secondary">Seamlessly Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia rerum porro est delectus ad in vitae neque nostrum nesciunt.</h3>
					</div>
					<div class="d-flex align-items-center justify-content-center">
						<div>
							<h4 class="h6 mb-0 fw-medium">Alex Coman</h4>
							<small class="text-white-50">Apple Inc.</small>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<img class="rounded-circle mx-auto w-auto mb-4" src="images/testimonials/2.jpg" width="64" height="64" alt="Customer Testimonails">
						<h3 class="mb-4 lh-base fw-normal font-secondary">Seamlessly conceptualize multimedia based web services for optimal human capital. Collaboratively evisculate e-business value.</h3>
					</div>
					<div class="d-flex align-items-center justify-content-center">
						<div>
							<h4 class="h6 mb-0 fw-medium">John Coman</h4>
							<small class="text-white-50">Apple Inc.</small>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<img class="rounded-circle mx-auto w-auto mb-4" src="images/testimonials/3.jpg" width="64" height="64" alt="Customer Testimonails">
						<h3 class="mb-4 lh-base fw-normal font-secondary">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias facilis ea voluptatem cum.</h3>
					</div>
					<div class="d-flex align-items-center justify-content-center">
						<div>
							<h4 class="h6 mb-0 fw-medium">Ricky Coman</h4>
							<small class="text-white-50">Apple Inc.</small>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="video-wrap" style="z-index: 1;">
			<div class="video-overlay" style="background: #D4C0B3;"></div>
		</div>

	</div>

      <div class="container-fluid">

          <div class="page-header mt-1 mb-1 ml-1 ">
         <!--<h1>HealthConnect</h1> -->   
       
        </div>
      
      
          <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: whitesmoke;">
              <a class="navbar-brand" href="{% url 'home' %}">He24 </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'home' %}">Home</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'home' %}">About</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'home' %}">Contact</a>
                      </li>
                      
      
      
                    {% if user.is_authenticated %}
                      
                      {% if user.patient %}
      
                      <li class="nav-item ml-2">
                      <li class="nav-link" href="{% url 'patient_ui' %}" style="color: rgb(91, 252, 50);">Hello, {{user.patient.name}}</li>
                      </li>
                      <li class="nav-item ml-2">
                          <a class="nav-link" href="{% url 'patient_ui' %}">Profile</a>
                          </li>
      
                      {% endif %}
                      
                      {% if user.doctor  %}
      
                      <li class="nav-item ml-2">
                        <li class="nav-link" href="{% url 'doctor_ui' %}" style="color: rgb(91, 252, 50);">Hello, Dr. {{user.doctor.name}}</li>
                        </li>
                        <li class="nav-item ml-2">
                            <a class="nav-link" href="{% url 'doctor_ui' %}">Profile</a>
                            </li>
      
      
                      {% endif %}

                      {% if user.is_superuser  %}
      
                      <li class="nav-item ml-2">
                        <li class="nav-link" href="{% url 'admin_ui' %}" style="color: rgb(91, 252, 50);">Admin: {{user.username}}</li>
                        </li>
                        <li class="nav-item ml-2">
                            <a class="nav-link" href="{% url 'admin_ui' %}">Profile</a>
                            </li>
      
      
                      {% endif %}
      
                      <li class="nav-item ml-2">
      <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#logout-modal" style="color: rgb(247, 190, 188);">Log out</button>
                        
                      </li>
      
      
      
      
                      <!-- Small modal -->
      
      <div class="modal fade" id="logout-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header"><h4>Logout <i class="fa fa-lock"></i></h4></div>
            <div class="modal-body"><i class="fa fa-question-circle"></i><span style="color: rgb(42, 187, 6);">{{user.patient.name}}</span>, Are you sure you want to log-off?</div>
            <div class="modal-footer"><a href="{% url 'logout' %}" class="btn btn-primary btn-block">Logout</a></div>
          </div>
        </div>
      </div>
                      
                      {% else %}
                      
                      <li class="nav-item ml-2">
                          <a class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg2">Signup</a>
                      </li>
                      <li class="nav-item ml-">
                          <a class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg">Signin</a>
                      </li>
                      
                      {% endif %}
      
                  </ul>
              </div>
          </nav>
      



    
<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
     
  <center>
    <h1>Sign-In  As</h1>
    </center>
  <br><br>
  
  <center>
  <form>
      <div class="container mt-5 mb-5">
   <div class="row">
      <div class="col">
         <a href="{% url 'sign_in_admin' %}">
  <img  alt="admin" src="{% static 'homepage/admin.png' %}"  class="img">
  </a>
      </div>
  
      <div class="col">
  <a href="{% url 'sign_in_doctor' %}">
  <img  alt="doctor" src="{% static 'homepage/doctor.png' %}"  class="img">
  </a>
      </div>
  
      <div class="col">
  <a href="{% url 'sign_in_patient' %}">
  <img  alt="patient" src="{% static 'homepage/patient.png' %}"  class="img">
  </a>
      </div>
    </div>
    </div>
  </form>
  </center>
  
      </div>
    </div>
  </div>



  {% block body %}

  {% endblock %}




</div>



   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   
    <script src="https://code.jquery.com/jquery-3.4.1.js"integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <!-- Go To Top (EXTRAS)
    ============================================= -->
    <div id="gotoTop" class="uil uil-angle-up"></div>

    <!-- JavaScripts
    ============================================= -->
    <script src="{% static 'extras/js/functions.js' %}"></script>


</body>
</html>