{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 


    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
  
    <script src="{% static 'jquery.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'homepage/bootstrap/css/bootstrap.min.css' %}">
    
   <title>HealthConnect</title>
   
   <!-- EXTRAS START -->
   <!-- Font Imports -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">

	<!-- Core Style -->
	<link rel="stylesheet" href="{% static 'extras/style.css' %}">

	<!-- Font Icons -->
	<link rel="stylesheet" href="{% static 'extras/css/font-icons.css' %}">

	<!-- Plugins/Components CSS -->
	<link rel="stylesheet" href="{% static 'extras/css/swiper.css' %}">

	<!-- Niche Demos -->
	<link rel="stylesheet" href="{% static 'extras/demos/construction/construction.css' %}">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'extras/css/custom.css' %}">
  <!-- EXTRAS END -->


   <link rel="stylesheet" href="{% static 'homepage/bootstrap/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'homepage/css.css' %}">
    
    {% block head %}



    {% endblock %}


   
  
  </head>


  <body class="stretched">
<!-- Top Bar
		============================================= -->
		<div id="top-bar">
			<div class="container">

				<div class="row justify-content-between">
					<div class="col-12 col-md-auto">

						<!-- Top Social
						============================================= -->
						<ul id="top-social">
							<li><a href="#" class="h-bg-facebook"><span class="ts-icon"><i class="fa-brands fa-facebook-f"></i></span><span class="ts-text">Facebook</span></a></li>
							<li><a href="#" class="h-bg-twitter"><span class="ts-icon"><i class="fa-brands fa-twitter"></i></span><span class="ts-text">Twitter</span></a></li>
							<li><a href="#" class="h-bg-instagram"><span class="ts-icon"><i class="fa-brands fa-instagram"></i></span><span class="ts-text">Instagram</span></a></li>
							<li><a href="#" class="h-bg-gmail"><span class="ts-icon"><i class="fa-regular fa-envelope"></i></span><span class="ts-text">Email</span></a></li>
							<li><a href="#" style="margin-top: 10%;padding-left: 10px;"><div class="he-text"><span>(+27) 011 546 7890</span></div></a></li>
							
						</ul><!-- #top-social end -->

					</div>

					<div class="col-12 col-md-auto">

						<!-- Top Links
						============================================= -->
						<div class="top-links">
							<ul class="top-links-container">
								<li class="top-links-item"><a href="#">English (US)</a>
									<ul class="top-links-sub-menu">
			  							<li class="top-links-item"><a href="#">Afrikaans</a></li>
										<li class="top-links-item"><a href="#">IsiZulu</a></li>
										<li class="top-links-item"><a href="#">Southern Sotho</a></li>
									</ul>
								</li>
								<li class="top-links-item"><a href="faqs.html">FAQs</a></li>
								<li class="top-links-item"><a href="contact.html">Contact</a></li>
							</ul>
						</div><!-- .top-links end -->

					</div>
				</div>

			</div>
		</div><!-- #top-bar end -->


    	<!-- Header
		============================================= -->
		<header id="header" class="header-size-sm" data-sticky-shrink="false">
		<!-- Logo
					============================================= -->
			
			</div><!-- #logo end -->

			<div id="header-wrap">
			 <div class="container">
				
					
					<div class="header-row justify-content-between flex-row-reverse flex-lg-row justify-content-lg-center">

						<div class="header-misc">

							<!-- Top Search
							============================================= -->
							<div id="top-search" class="header-misc-icon">
								<a href="#" id="top-search-trigger"><i class="uil uil-search"></i><i class="bi-x-lg"></i></a>
							</div><!-- #top-search end -->

						</div>

						<div class="primary-menu-trigger">
							<button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
								<span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
							</button>
						</div>

						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu with-arrows">

							<ul class="menu-container">
								<ul class ="list-unstyled " style="position: relative; right:40%; display: flex; float: left;" >
									<li><img  src="{% static 'extras/demos/construction/images/logo.png' %}" width="50px" height="50px"  alt="Canvas Logo">	 </li>
									<li><p style="font-size: medium; color: rgb(71, 71, 71); font-weight: 600; color:lightskyblue; margin-bottom:-10%;margin-top:12%;">HealthConnect</p></li>
								</ul>

								<li class="menu-item current"><a class="menu-link" href="{% url 'home' %}"><div>Home</div></a></li>
								<li class="menu-item"><a class="menu-link" href="{% url 'home' %}"><div>What we do</div></a>
									<ul class="sub-menu-container">
										<li class="menu-item"><a class="menu-link" href="{% url 'home' %}"><div>Professional Medical insights</div></a></li>
										<li class="menu-item"><a class="menu-link" href="{% url 'posts' %}"><div>View Posts</div></a></li>
										<li class="menu-item"><a class="menu-link" href="{% url 'home' %}"><div>Blogs</div></a></li>
										<li class="menu-item"><a class="menu-link" href="{% url 'home' %}"><div>Schedule Video Consultation</div></a></li>
					
									</ul>
								</li>
								<li class="menu-item"><a class="menu-link" href="{% url 'home' %}"><div>About Us</div></a></li>
								<li class="menu-item"><a class="menu-link nav-item ml-"  data-toggle="modal" data-target=".bd-example-modal-lg"><div>Sign in</div></a></li>
								<li class="menu-item"><a class="menu-link nav-item ml-2"  data-toggle="modal" data-target=".bd-example-modal-lg2"><div>Register</div></a></li>

							</ul>

						</nav><!-- #primary-menu end -->

						<form class="top-search-form" action="search.html" method="get">
							<input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter.." autocomplete="off">
						</form>

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->


 
          <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: white;">
              
                  <ul class="navbar-nav ml-auto">
                    
      
                    {% if user.is_authenticated %}
                      
                      {% if user.patient %}
      
                      <li class="nav-item ml-2">
                      <li class="nav-link" href="{% url 'patient_ui' %}" style="color: black; text-transform: uppercase; font-size: 13px;">Hello, {{user.patient.name}} <hr style="color:grey"></li>
                      </li>
                      <li class="nav-item ml-2">
                          <a class="nav-link" href="{% url 'patient_ui' %}">Profile</a>
                          </li>
      
                      {% endif %}
                      
                      {% if user.doctor  %}
      
                      <li class="nav-item ml-2">
                        <li class="nav-link" href="{% url 'doctor_ui' %}" style="color: black; text-transform: uppercase;font-size: 13px;">Hello, Dr. {{user.doctor.name}} <hr style="color:grey"></li>
                        </li>
                        <li class="nav-item ml-2">
                            <a class="nav-link" href="{% url 'doctor_ui' %}">Profile</a>
                            </li>
      
      
                      {% endif %}

                      {% if user.is_superuser  %}
      
                      <li class="nav-item ml-2">
                        <li class="nav-link" href="{% url 'admin_ui' %}" style="color: black;text-transform: uppercase;font-size: 13px;">Admin: {{user.username}} <hr style="color:grey"></li>
                        </li>
                        <li class="nav-item ml-2">
                            <a class="nav-link" href="{% url 'admin_ui' %}">Profile</a>
                            </li>
      
      
                      {% endif %}
      
                      <li class="nav-item ml-2">
      <button class="btn btn-primary" data-toggle="modal" data-target="#logout-modal" >Log out</button>
                        
                      </li>
      
      
      
      
                      <!-- Small modal -->
					
					<div class="modal fade" id="logout-modal" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div class="modal-header"><h4>Logout <i class="fa fa-lock"></i></h4></div>
							<div class="modal-body"><i class="fa fa-question-circle"></i><span style="color: rgb(42, 187, 6);">{{user.patient.name}}</span>, Are you sure you want to logout?</div>
							<div class="modal-footer"><a href="{% url 'logout' %}" class="btn btn-primary btn-block">Logout</a></div>
						</div>
						</div>
					</div>
                      
                      {% else %}
                      
                    
                      
                      {% endif %}
      
                  </ul>
           
          </nav>
      



    
<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
     
  <center>
    <h1>Sign in As</h1>
    </center>
  <br><br>
  
  <center>
  <form>
      <div class="container mt-5 mb-5">
   <div class="row">
      <div class="col">
         <a href="{% url 'sign_in_admin' %}">
  <img  alt="admin" src="{% static 'homepage/admin.png' %}"  class="img">
  </a>
      </div>
  
      <div class="col">
  <a href="{% url 'sign_in_doctor' %}">
  <img  alt="doctor" src="{% static 'homepage/doctor.png' %}"  class="img">
  </a>
      </div>
  
      <div class="col">
  <a href="{% url 'sign_in_patient' %}">
  <img  alt="patient" src="{% static 'homepage/patient.png' %}"  class="img">
  </a>
      </div>
    </div>
    </div>
  </form>
  </center>
  
      </div>
    </div>
  </div>



  {% block body %}

  {% endblock %}

</div>

<iframe
src="https://www.chatbase.co/chatbot-iframe/4OAgk0fL-FX0S34oUjPcL"
width="100%"
style="height: 100%; min-height: 700px"
frameborder="0"
></iframe>



    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <!-- Go To Top (EXTRAS)
    ============================================= -->
    <div id="gotoTop" class="uil uil-angle-up"></div>

    <!-- JavaScripts
    ============================================= -->
    <script src="{% static 'extras/js/functions.js' %}"></script>

	<script>
		window.embeddedChatbotConfig = {
		chatbotId: "4OAgk0fL-FX0S34oUjPcL",
		domain: "www.chatbase.co"
		}
		</script>
		<script
		src="https://www.chatbase.co/embed.min.js"
		chatbotId="4OAgk0fL-FX0S34oUjPcL"
		domain="www.chatbase.co"
		defer>
		</script>

</body>
</html>