{% extends 'base.html' %}
{% load static %}
{% block consultation_active %} active {% endblock %}
{% block redirect_script %}
{% if not request.session.user_id or not request.session.is_authenticated %}
<script type="text/javascript">
    window.location.href = "{% url 'login' %}";
</script>
{% endif %}
{% endblock %}
{% block title %}Consultations{% endblock %}
{% block pagespecificstyle %}
<link href="{% static 'css/datatable.css' %}" rel="stylesheet">
<link href="{% static 'css/chat.css' %}" rel="stylesheet">
<link href="{% static 'css/consultations.css' %}" rel="stylesheet">
<link href="{% static 'css/variables.css' %}" rel="stylesheet">
<link href="{% static 'css/conslt.css' %}" rel="stylesheet">

{% endblock %}
{% block content %}
<main id="main" class="main">
    <div class="pagetitle">

        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'consulation_home' %}">
                        <i class="ri-home-line"></i>
                    </a>
                </li>

            </ol>
        </nav>
    </div>
    {% if consultation_info %}

    <section id="services" class="section">
        <div class="container">
            <div class="section-title">
                <h2>Consultation Details</h2>
            </div>
            {% if consultation_info %}
            <div class="row justify-content-around">
                {%if not request.session.is_patient or request.session.is_admin %}
                {% comment %} PatientInfo Info {% endcomment %}
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon">
                            <i class="fas fa-hospital-user"></i>
                        </div>
                        <h4>
                            <a href="">Patient Information</a>
                        </h4>
                        <p><strong>{{ consultation_info.patient.surname }} {{ consultation_info.patient.name }}
                                ({{consultation_info.patient.age }})</strong></p>
                        <p><strong>Date of Birth</strong>: {{ consultation_info.patient.dob }}</p>
                        <p><strong>Address</strong>: {{ consultation_info.patient.address }}</p>
                        <p><strong>Gender</strong>: {{ consultation_info.patient.gender }}</p>
                        <p><strong>Mobile No</strong>: {{ consultation_info.patient.mobile_no }}</p>
                        <p><strong>Opening Date</strong>: {{ consultation_info.consultation_date }}</p>
                    </div>
                </div>
                {% endif %}
                {% if consultation_info.diseaseinfo %}
                {% comment %} Disease Info {% endcomment %}
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon">
                            <i class="fas fa-notes-medical"></i>
                        </div>
                        <h4>
                            <a href="">Disease Information</a>
                        </h4>
                        <p><strong>Name: {{ consultation_info.diseaseinfo.diseasename }}</strong></p>
                        <p><strong>Confidence</strong> {{ consultation_info.diseaseinfo.confidence }} Percent</p>
                        <p><strong>ConsultDoctor</strong>: {{ consultation_info.diseaseinfo.consultdoctor }}</p>
                        <p><strong>Symptoms</strong>: {{ consultation_info.diseaseinfo.symptoms }}</p>
                        <p><strong>Consultation Status</strong>: {{ consultation_info.status }}</p>
                        <p><strong>Days Elapsed</strong>: {{ consultation_info.days_elapsed_since }}</p>
                    </div>
                </div>
                {% endif %}
                {%if not request.session.is_doctor or request.session.is_admin %}
                <!-- {% comment %} Doctor Info {% endcomment %} -->
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon">
                            <i class="fas fa-hospital-user"></i>
                        </div>
                        <h4>
                            <a href="">Doctor Information</a>
                        </h4>
                        <p><strong>Dr {{ consultation_info.doctor.surname }} {{ consultation_info.doctor.name}}</strong>
                        </p>
                        <p><strong>Qualification</strong>: {{ consultation_info.doctor.qualification }}</p>
                        <p><strong>Council</strong>: {{ consultation_info.doctor.state_medical_council }}</p>
                        <p><strong>Specialization</strong>: {{ consultation_info.doctor.specialization }}</p>
                        <p><strong>Address</strong>: {{ consultation_info.doctor.address }}</p>
                        <p><strong>Rating</strong>: {{ consultation_info.doctor.rating }}</p>
                    </div>

                    <div>
                    </div>
                </div>
                {% endif %}
            </div>
            {% if request.session.is_patient %}
                <div class="consltcontainer" id="ratingForm" style="max-width: 50%; display:none;">
                    <form class="consltform"
                        action="{% url 'create_review' doctor_id=consultation_info.doctor.doctor_id %}"
                        method="post">
                        {% csrf_token %}
                    
                        <div class="form-group">
                            <input type="hidden" class="input" id="hiddenConsultID" name="consultation_id" value="{{consultation_info.consultation_id}}">
                        </div>
                        <div class="form-group">
                            <!-- {% comment %} <label for="doctorId">Doctor ID:</label> {% endcomment %} -->
                            <input type="hidden" class="input" id="doctor_id" name="doctor_id"
                                value="{{consultation_info.doctor.doctor_id}}">
                        </div>
                        <div class="form-group">
                            <label for="rating">Rating:</label>
                            <input type="number" class="input" id="rating" name="rating"
                                placeholder="Enter Rating" min="0" max="5" required>
                        </div>
                        <div class="form-group">
                            <label for="review">Review:</label>
                            <textarea class="input" id="review" name="review" rows="4"
                                placeholder="Enter Review" required></textarea>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn-get-started btn consltbtn">Submit</button>
                        </div>
            
                    </form>
                </div>
            {% else %}
                <div class="consltcontainer" id="ratingForm" style="max-width: 50%; display:none;">
                    <form class="consltform"
                        action="{% url 'rate_prediction' consultation_id=consultation_info.consultation_id %}"
                        method="post">
                        {% csrf_token %}

                        <!-- Hidden Fields -->
                        <input type="hidden" class="input" name="doctor_id" value="{{ consultation_info.doctor.doctor_id }}">
                        <input type="hidden" class="input" name="diseaseinfo_id" value="{{ consultation_info.diseaseinfo.id }}">
                        <input type="hidden" class="input" name="consultation_id" value="{{ consultation_info.consultation_id }}">

                        <div class="form-group">
                            <label for="rating">Rating:</label>
                            <input type="number" class="input" id="rating" name="rating"
                                placeholder="Enter Rating" min="0" max="5" required>
                        </div>

                        <div class="form-group">
                            <label for="diseasename" class="form-label">Disease Name:</label>
                            <input type="text" name="diseasename" class="input"
                                id="diseasename" required placeholder="Disease Name">
                        </div>
                        <div class="form-group">
                            <label for="symptoms" class="form-label">Symptoms:</label>
                            <input type="text" name="symptoms" class="input"
                                id="symptoms" required placeholder="symptom_1, symptom_2, symptom_3">
                        </div>

                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn-get-started btn consltbtn">Submit</button>
                        </div>
            
                    </form>
                </div>
            {% endif %}
            {% endif %}
        </div>

    </section>
    {% endif %}
    {% if consultation_chats %}
    <section>
        <div class="container" id="consultation_chat">
            <div class="section-title mt-4">
                <h2>Consultation Chats</h2>
            </div>
        </div>
        <!-- Chat Here -->

            <div class="container-fluid h-100">
                <div class="row justify-content-center h-100">
                    <div class="col-md-8 col-xl-8 chat">
                        <div class="card">
                            <div class="card-header msg_head">
                                <div class="d-flex bd-highlight">
                                    {% if request.session.is_doctor %}
                                        <div class="img_cont">
                                            <img src="{% static 'img/patients-profile.png' %}" class="rounded-circle user_img" alt="Profile Picture">
                                            <span class="online_icon"></span>
                                        </div>
                                        <div class="user_info">
                                            <span>{{ consultation_info.patient.surname }} {{ consultation_info.patient.name }}</span>
                                            <p>{{ consultation_chats.length }} Messages</p>
                                        </div>
                                    {% else %}
                                        <div class="img_cont">
                                            <img src="{% static 'img/doctors-profile.jpg' %}" class="rounded-circle user_img" alt="Profile Picture">
                                            <span class="online_icon"></span>
                                        </div>
                                        <div class="user_info">
                                            <span>Dr {{ consultation_info.doctor.surname }} {{ consultation_info.doctor.name }}</span>
                                            <p>{{ consultation_chats.length }} Messages</p>
                                        </div>
                                    {% endif %}
                                    <div class="ms-auto">
                                        <div class="video_cam" id="action_menu_btn">
                                            {% if request.session.is_patient and consultation_info and consultation_info.channel %}
                                            <span>
                                                <a href="{% url 'consultation_call' consultation_id=consultation_info.consultation_id %}">
                                                <i class="fas fa-video"></i>
                                                </a>
                                            </span>
                                            {% endif %}
                                            {% if not request.session.is_patient %}
                                            <span>
                                                <a href="{% url 'consultation_call' consultation_id=consultation_info.consultation_id %}">
                                                <i class="fas fa-video"></i>
                                                </a>
                                            </span>
                                            {% endif %}
                                            <span class="star-icon"  id="rateDoctor">
                                                <i class="fas fa-star"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body msg_card_body pt-4">
                                {% for sent_message in consultation_chats.chats %}
                                    {% if request.session.is_doctor %}
                                        {% if sent_message.sender_id == request.session.user_id %}
                                            <div class="d-flex justify-content-end mb-4">
                                                <div class="msg_cotainer_send col-8"> {{ sent_message.message }} <span class="msg_time_send">{{ sent_message.created_at }}</span>
                                                </div>
                                                <div class="img_cont_msg">
                                                    <img src="{% static 'img/doctors-profile.jpg' %}" class="rounded-circle user_img" alt="Profile Picture">
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="d-flex justify-content-start mb-4">
                                                <div class="img_cont_msg">
                                                    <img src="{% static 'img/patients-profile.png' %}" class="rounded-circle user_img" alt="Profile Picture">
                                                </div>
                                                <div class="msg_cotainer col-8"> {{ sent_message.message }} <span class="msg_time">{{ sent_message.created_at }}</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        {% if sent_message.sender_id == request.session.user_id %}
                                            <div class="d-flex justify-content-end mb-4">
                                                <div class="msg_cotainer_send col-8"> {{ sent_message.message }} <span class="msg_time_send">{{ sent_message.created_at }}</span>
                                                </div>
                                                <div class="img_cont_msg">
                                                    <img src="{% static 'img/patients-profile.png' %}" class="rounded-circle user_img" alt="Profile Picture">
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="d-flex justify-content-start mb-4">
                                                <div class="img_cont_msg">
                                                    <img src="{% static 'img/doctors-profile.jpg' %}" class="rounded-circle user_img" alt="Profile Picture">
                                                </div>
                                                <div class="msg_cotainer col-8"> {{ sent_message.message }} <span class="msg_time">{{ sent_message.created_at }}</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="card-footer">
                                {% if consultation_chats.status != 'closed' %}
                                    <form action="{% url 'send_message' consultation_id=consultation_info.consultation_id %}" method="post" class="message-form">
                                        {% csrf_token %}
                                        <div class="input-group">
                                            <textarea name="message" class="form-control type_msg" placeholder="Type your message..."></textarea>
                                            <div class="input-group-append">
                                                <button type="submit" class="input-group-text send_btn" id="send_btn" title="Send Message">
                                                    <i class="fas fa-location-arrow"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                {% else %}
                                    <div class="input-group">
                                        <textarea name="" class="form-control type_msg" placeholder="Closed Consultation" disabled></textarea>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if consultation_chats.status != 'closed' %}
                <form action="{% url 'close_consultation' consultation_id=consultation_info.consultation_id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Close Consultation" class="close-button">
                </form>
            {% endif %}
    </section>
    {% endif %}

    <section class="section">
        <div class="section-title">
            {% if request.GET.filter == "Old" %}
            <h2>Consultation History</h2>
            {% elif request.GET.filter == "Upcoming" %}
            <h2>Upcoming Consultations</h2>
            {% endif %}
        </div>
        {% if consultation_history %}
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <table class="table table-striped" aria-label="Consultation History Table">
                            <thead>
                                <tr>
                                    <!-- <th scope="col">ID</th> -->
                                    <th scope="col">Start Date</th>
                                    <th scope="col">Diseasename</th>
                                    <th scope="col">Confidence (%)</th>
                                    <th scope="col">Consult Doctor</th>
                                    <th scope="col">Symptoms</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Consultation</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for consultation in consultation_history %}
                                <tr>
                                    <!-- <th scope="row">{{ consultation.consultation_id }}</th> -->
                                    <td>{{ consultation.consultation_date }}</td>
                                    <td>{{ consultation.diseaseinfo.diseasename }}</td>
                                    <td>{{ consultation.diseaseinfo.confidence }}</td>
                                    <td>{{ consultation.diseaseinfo.consultdoctor }}</td>
                                    <td>{{ consultation.list_symptoms }}</td>
                                    {% if consultation.status == 'closed' %}
                                    <td>
                                        <a href="#" class="btn btn-danger">{{consultation.status}}</a>

                                    </td>
                                    {% elif consultation.status == 'missed' %}
                                    <td>
                                        <a href="#" class="btn btn-danger">{{consultation.status}}</a>

                                    </td>
                                    {% else %}
                                    <td>
                                        <a href="#" class="btn btn-success">Open</a>
                                    </td>
                                    {% endif %}
                                    <td>
                                        <a href="{% url 'consultation_view' consultation.consultation_id %}"
                                            class="btn btn-primary">View Consultation</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% else %}
    {% if request.GET.filter == "Old" %}
    <h2>No Old Consultations Found</h2>
    {% elif request.GET.filter == "Upcoming" %}
    <h2>No Upcoming Consultations Found</h2>
    {% else %}
    {% if not consultation_info %}
    <h2>No Consultations Found</h2>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endblock %}

    {% block pagespecificjs %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            function toggleForm() {
                var form = document.getElementById("ratingForm");
                form.style.display = (form.style.display === 'none' || form.style.display === '') ? 'block' : 'none';
            }
            document.getElementById('rateDoctor').addEventListener('click', function (event) {
                toggleForm();
            });

        });
    </script>
    {% endblock %}