{% extends 'base.html' %}
{% load static %}
{% block consultation_active %} active {% endblock %}
{% block redirect_script %}
{% if not request.session.user_id or not request.session.is_authenticated %}
<script type="text/javascript">
    window.location.href = "{% url 'login' %}";
</script>
{% endif %}
{% endblock %}
{% block title %}Consultations{% endblock %}
{% block pagespecificstyle %}
<link href="{% static 'css/chat.css' %}" rel="stylesheet">
<link href="{% static 'css/datatable.css' %}" rel="stylesheet">
<link href="{% static 'css/consultations.css' %}" rel="stylesheet">
<link href="{% static 'css/variables.css' %}" rel="stylesheet">
<link href="{% static 'css/video.css' %}" rel="stylesheet">
<link href="{% static 'css/conslt.css' %}" rel="stylesheet">


{% endblock %}
{% block content %}

<!-- Lobby before joining -->
{% if lobbyInfo %}
<!-- ConsultationVideo -->

<main id="main" class="main">


    <section class="section">
        <div class="consltcontainer" style=" max-width: 50%;">
            <img id="logo" src="{% static 'img/chat-icon.png' %}" />

            <div id="welcome-message">
                <h1>Welcome to He24/7thConnect VideoCalling</h1>
                <p>Secure consultation available 247!</p>
            </div>

            <form id="form" class="consltform" method="post"
                action="{% url 'open_video_consultation' consultation_id=lobbyInfo.consultation_id%}">
                <div class="field-wrapper">

                    <div class="form-field">
                        <label>Room:</label>
                        <input name="roomName" class="input" value="{{ lobbyInfo.roomNameDisplay }}" readonly
                            style="text-transform:uppercase" />
                        <input type="hidden" name="room" value="{{ lobbyInfo.roomName }}" readonly />
                        <input type="hidden" name="otheruser" value="{{ lobbyInfo.otherUser }}" readonly />
                   
                    </div>

                    <div class="form-field">
                        <label>Name:</label>
                        <input name="name" class="input" value="{{ lobbyInfo.clientName }}" readonly />
                    </div>

                    <div class="d-flex justify-content-center">
                        {% csrf_token %}
                        {% if request.session.is_patient %}
                        <input type="submit" value="Join Consultation" class="btn-get-started btn consltbtn" />
                        {% else %}
                        <input type="submit" value="Start Consultation" class="btn-get-started btn consltbtn" />
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>


{% endif %}


<!-- ConsultationVideo -->

{% if videocall_data %}
<main id="main" class="main videosec">
    <section class="section ">
        <section id="room-name-wrapper">
            <p class="heading">Room Name: <span id="room-name"></span></p>
        </section>

        <section id="video-streams"></section>

        <section id="controls-wrapper">
            <div class="icon-wrapper">
                <img class="control-icon" id="mic-btn" src="{% static 'img/microphone.svg' %}" />
            </div>

            <div class="icon-wrapper">
                <img class="control-icon" id="camera-btn" src="{% static 'img/video.svg' %}" />
            </div>

            <div class="icon-wrapper">
                <img class="control-icon" id="leave-btn" src="{% static 'img/leave.svg' %}" />
            </div>
        </section>
    </section>
</main>


{% endif %}
{% endblock %}

{% block pagespecificjs %}


<!-- <script type="text/javascript" src="{% static 'js/streams.js' %}" ></script> -->
{% if videocall_data %}
<script>
    // const APP_ID = 'a7da24c9908a4acdbab09c15b71c706b'
    // const TOKEN = sessionStorage.getItem('token')
    // const CHANNEL = sessionStorage.getItem('room')
    // let UID = sessionStorage.getItem('UID')//?
    // let NAME = sessionStorage.getItem('name')

    const APP_ID = '{{videocall_data.app_id}}'
    const TOKEN = '{{videocall_data.token}}'
    const CHANNEL = '{{videocall_data.room}}'
    let UID = '{{videocall_data.UID}}'
    let NAME = '{{videocall_data.name}}'
    let ROOMNAME = '{{videocall_data.room_display}}'
    let OTHERUSER = '{{videocall_data.other_user}}'


    const client = AgoraRTC.createClient({ mode: 'rtc', codec: 'h264' })

    let localTracks = []
    let remoteUsers = {}//for remote users joining the stream

    let joinAndDisplayLocalStream = async () => {
        document.getElementById('room-name').innerText = ROOMNAME
        //subscribe to event listener
        client.on('user-published', handleUserJoined)//when user-published handleUserJoined will be called
        client.on('user-left', handleUserLeft)//when user jumps off the call

        try {
           UID =  await client.join(APP_ID, CHANNEL, TOKEN, UID)
            // console.log(UID)
            
        } catch (error) {
            
            //console.error("XX",error)

            window.open('/', '_self')
        }


        localTracks = await AgoraRTC.createMicrophoneAndCameraTracks();
        // Continue with your code that depends on localTracks
        console.log("Local tracks created successfully:", localTracks);

        let player = `<div  class="video-container" id="user-container-${UID}">
                     <div class="video-player" id="user-${UID}"></div>
                     <div class="username-wrapper"><span class="user-name">${NAME}</span></div>
                  </div>`

        document.getElementById('video-streams').insertAdjacentHTML('beforeend', player)

        localTracks[1].play(`user-${UID}`)//play the video and [1] at [0] is audio
        localTracks[0].play(`user-${UID}`)//play the video and [1] at [0] is audio
        await client.publish([localTracks[0], localTracks[1]])//other people see

    }

    let handleUserJoined = async (user, mediaType) => {

        remoteUsers[user.uid] = user //add user to the remoteUsers

        await client.subscribe(user, mediaType)

        if (mediaType === 'video') {
            let player = document.getElementById(`user-container-${user.uid}`)
            if (player != null) {//Incase user refreshes page/ user video element already exists
                player.remove()//remove it so we can add a new one
            } else {
                console.log(user.uid)
                
            }

            player = `<div  class="video-container" id="user-container-${user.uid}">
            <div class="video-player" id="user-${user.uid}"></div>
            <div class="username-wrapper"><span class="user-name">${OTHERUSER}</span></div>
        </div>`
            console.log("HTML", player)
            
            document.getElementById('video-streams').insertAdjacentHTML('beforeend', player)
            if (user.videoTrack) {
                user.videoTrack.play(`user-${user.uid}`)//Play the user's video
            }
        }
        console.log("XXXXXXXXXX", mediaType)
        if (mediaType === 'audio') {
            if (user.audioTrack) {
                user.audioTrack.play()
            }
        }
    }

    let handleUserLeft = async (user) => {
        delete remoteUsers[user.uid]
        alert("Removed")
        document.getElementById(`user-container-${user.uid}`).remove()
    }

    let leaveAndRemoveLocalStream = async () => {
        for (let i = 0; localTracks.length > i; i++) {
            localTracks[i].stop()
            localTracks[i].close()
        }

        await client.leave()
        //This is somewhat of an issue because if user leaves without actaull pressing leave button, it will not trigger
        //deleteMember();
        window.history.back();
        //window.open('/', '_self')
    }

    let toggleCamera = async (e) => {
        console.log('TOGGLE CAMERA TRIGGERED')
        if (localTracks[1].muted) {
            await localTracks[1].setMuted(false)//turn camera on
            e.target.style.backgroundColor = '#fff'
        } else {
            await localTracks[1].setMuted(true)
            e.target.style.backgroundColor = 'rgb(255, 80, 80, 1)'
        }
    }

    let toggleMic = async (e) => {
        console.log('TOGGLE MIC TRIGGERED')
        if (localTracks[0].muted) {
            await localTracks[0].setMuted(false)
            e.target.style.backgroundColor = '#fff'
        } else {
            await localTracks[0].setMuted(true)
            e.target.style.backgroundColor = 'rgb(255, 80, 80, 1)'
        }
    }

    // let createMember = async () => {
    //     let response = await fetch('/create_member/', {
    //         method:'POST',
    //         headers: {
    //             'Content-Type':'application/json'
    //         },
    //         body:JSON.stringify({'name':NAME, 'room_name':CHANNEL, 'UID':UID})
    //     })
    //     let member = await response.json()
    //     return member
    // }


    // let getMember = async (user) => {
        
    //     let response = await fetch(`/get_member/?UID=${user.uid}&room_name=${CHANNEL}`)
    //     let member = await response.json()
    //     return member
    // }

    // let deleteMember = async () => {
    //     let response = await fetch('/delete_member/', {
    //         method:'POST',
    //         headers: {
    //             'Content-Type':'application/json'
    //         },
    //         body:JSON.stringify({'name':NAME, 'room_name':CHANNEL, 'UID':UID})
    //     })
    //     let member = await response.json()
    // }

    // window.addEventListener("beforeunload",deleteMember);

    joinAndDisplayLocalStream()

    document.getElementById('leave-btn').addEventListener('click', leaveAndRemoveLocalStream)
    document.getElementById('camera-btn').addEventListener('click', toggleCamera)
    document.getElementById('mic-btn').addEventListener('click', toggleMic)


</script>
{% endif %}
{% endblock %}